[2012-06-06 18:47] azyzio opened #1 "Types of the variables"
The types that we use for describing different parameters of countries are really inconsistent. E.g. available to spend (which at the beginning of the the game is a fraction of a GDP) is long while GDP is double.
As the unit of everything are quite arbitrary, I suggest to use long for each variable except those that express ratios, rates and percentages (none of the parameters is such). This way,

[2012-06-06 19:12] tumblerer commented on #1
Dude. Not cool.

Adam reply@reply.github.com wrote:

The types that we use for describing different parameters of countries are really inconsistent. E.g. available to spend (which at the beginning of the the game is a fraction of a GDP) is long while GDP is double.
As the unit of everything are quite arbitrary, I suggest to use long for each variable except those that express ratios, rates and per

[2012-06-07 10:44] azyzio commented on #1
But it will make everything actually easier to handle. I will change it and update the constructors in all the countries so the code still compiles.

[2012-06-07 15:48] cmd08 commented on #1
I think leave it as is for now, fix it later. Having doubles will avoid
stupid errors in rounding etc (as many of these values will be operated on
with double precision within a class) and this saves the author having to
round.

On 6 June 2012 19:47, Adam <
reply@reply.github.com

[2012-06-07 16:49] azyzio opened #2 "Monitoring Costs Strategy"
I can see that a lot of development was done on Monitoring service, but it is now using the strategy of randomly choosing the country to monitor and charging it for it. Why exactly are we using this strategy?

There were 3 strategies that we have considered:
1. Taxing the transaction. We decided not to use it as transactions are done between the countries and no body is actually controlling them,

[2012-06-07 17:31] tumblerer commented on #2
Those are pretty valid points.

I'd like to put together another list of issues that we can spend tomorrow discussing, preferably face to face.

For the moment I'd leave them as is.

[2012-06-08 13:34] cmd08 opened #3 "No targets/to-do list"
There's no to-do list on GitHub. There's a whole bunch of different ones in google docs. Lets drop the google docs one and move to a GitHub solution where individuals can be assigned to and take ownership of targets. Then branches/commits can be associated with problem solutions. Hopefully this will better structure our code!

[2012-06-08 13:40] cmd08 opened #4 "Single Agent, no Kyoto"
A single agent in a world without the Kyoto protocol. Their Carbon emissions increase unchecked (linked to their GDP growth).

[2012-06-08 13:41] cmd08 opened #5 "Single Agent, Kyoto Non-Annex 1"
A single agent attempts to cap its carbon output without adversely affecting GDP.

[2012-06-08 13:42] cmd08 opened #6 "Single Agent, Kyoto Annex 1"
Single Agent attempts to reduce carbon output.

[2012-06-08 14:02] azyzio opened #7 "Sanctions for not meeting the target"
Did we decide on the method to apply sanctions on countries that have not met their targets.
I guess that unlike sanctioning for cheating, there should be no sin counting.
I will implement it when we agree on the method.

[2012-06-08 14:17] tumblerer commented on #7
Agreed, there no sin bin for failing to meet targets.

[2012-06-08 20:27] azyzio commented on #7
Ok, I did some reading on how it operates in Kyoto protocol and I think we could follow those rules in the game (wasn't it the aim of it? :D)

How it works is:
The emission target for a given period is decreased by the standard emission target change plus the difference in emission and target increased by 30%.
It is easier to illustrate on the example:
Country A has a target of 1000 million CO2
It

[2012-06-08 20:35] azyzio commented on #1
Is the issue eventually resolved?

[2012-06-08 21:04] farhanrahman opened #8 "Monitoring agent or Monitoring Service?"
I was looking into the Monitor service. There is a particular problem in declaring Monitor as a service. Essentially you can register a service as a global service i.e. Actions or ActionHandlers can use them or you can register them as ParticipantServices. Either way, services are used for reading or writing shared states in the environment.

The monitoring function is basically determining which

[2012-06-08 21:10] farhanrahman commented on #7
I think that is a very good way of doing sanctioning. We should stick to that.

[2012-06-08 21:17] azyzio commented on #8
Ok, I have spent some time today thinking about this issue and we ended up with a solution that the monitor can actually have access to all the countries and can therefore call their public functions.

It gets the access when the countries register for the service. They are then stored in the list of REFERENCES of the countries, so every function we call is executed on the actual instance of the c

[2012-06-08 21:23] azyzio commented on #2
Solution:
Each country pays a monitoring tax every year. The cash that the monitoring service gets through taxation is spent on monitoring random countries.

[2012-06-08 21:23] #2 closed, assigned to nobody

[2012-06-08 21:51] tumblerer commented on #7
As devil's advocate, thats not really much of a sanction.  If I fail to meet the target this year, my target next year simply gets harder.  There's not much motivation for me to meet it next year, if I know there are no real repercussions. I think the difference between our simulation and the real world is lack of political pressure to fulfil kyoto.  Therefore we need to make some kind of alternat

[2012-06-08 21:55] tumblerer commented on #8
Does this not fall into the area in which we force agents to update themselves from the shared state using functions built into the AbstractCountry version of execute, which every extension of AbstractCountry is forced to run?

eg. We write a function within the AbstractCountry that checks the shared the space for whether it should be sanctioned.  If it is, it deducts the correct amount of cash/wh

[2012-06-08 21:57] tumblerer commented on #1
It hasnt been yet.  Some of the values are still longs, which is causing issues when calculating carbonReduction etc.  These can be fixed without changing the types in AbstractCountry however.  I'm not sure on whats the best solution.

[2012-06-08 22:23] azyzio commented on #8
Do you then suggest that we add to the shared state a map CountryID -> boolean determining if the country should be sanctioned?
Then the monitoring body updates the shared state by changing the boolean value accordingly and then the country queries the shared state to see if it should pay sanctions. If it has to, its internal function decides what form of sanction should be applied.
This is a solu

[2012-06-08 22:30] piotroslaw commented on #7
While Chris is right that we do not have to stick with real Kyoto rules 100%, there are two problems with different type of sanctioning:
- The countries that do not have targets rely on the fact that reducing carbon output is totally voluntary. We assume that they will want to do it, it is sort of built into the game, and there is no way around it by using some kind of sanctions. It would then be

[2012-06-08 22:33] azyzio commented on #1
We could use doubles for every variable, but it introduces different problems:
X / double 0.0 = Infinity. We will not get proper exceptions when attempting to divide by 0
A == B cannot be used. Two doubles are almost never equal, if anyone wants to compare them, he has to specify the error interval (A > 0.95_B && A < 1.05_B).
I think it's a smaller problem than using longs which would often loose

[2012-06-08 22:38] azyzio opened #9 "Current Abstract Country is too narrow"
In the current implementation of Abstract Country, we include functions that are used for reporting, monitoring taxations etc. However, not all the countries (e.g. NonAnnexOne), need this functionality.

I suggest moving the Kyoto specific functionality to a separate class that extends from Abstract Country.

Do you agree and is there anyone that volunteers for doing it?

[2012-06-08 22:44] azyzio opened #10 "Visibility of fields and functions in Abstract Country"
Our current implementation of Abstract Country defines all the fields as protected. What it means is that the agent can modify every parameter, e.g. country A may double their available cash every tick.
This would be considered cheating and we assume that no country would do it as it would destroy the game. This is however very unprofessional from the software engineering point of view.

Do you th

[2012-06-08 22:53] azyzio commented on #7
I forgot to mention that there is one more punishment defined by Kyoto: a given country is not allowed to sell emissions in the next year.

My suggestions would be: apply Kyoto protocol and add the financial sanction. We can always set the financial punishment to zero to see how the system behaves in a purely Kyoto-based scenario.

[2012-06-08 22:59] azyzio opened #11 "Storing information about emission target"
At the moment the emission targets are stored in two places: in shared state handled by CarbonTarget and in each country as a field.

If we decide that our solution is service based, we should get rid of the emissionTarget field in Abstract Country and query the shared state whenever we need to access this information.

Is my thinking correct here?

[2012-06-08 23:04] tumblerer commented on #8
That sounds like a relatively straight forward way of doing things, and ties in nicely to how other actions are performed.

Just to clarify, although it will be an internal function, if written within AbstractCountry, it will be performed the same for all countries.

Being able to see which other countries have been sanctioned seems to kills two birds with one stone, as we were initially discussin

[2012-06-08 23:09] tumblerer commented on #11
I think that's broadly correct.  I'd like to to check with Jonny with regards to when he updates the shared space.

Further to that I like the current neatness in controlling when fields are updated when from within Countries in the execute function.  This could prevent some difficult timing issues later on.

[2012-06-08 23:12] tumblerer commented on #10
This is similar to what Darby(?) amongst others proposed.  It would also stop people accidentally changing their parameters.  I'd consider changing this to a task and assigning it.

[2012-06-08 23:14] azyzio commented on #10
I will deal with it after finished what I am working on now.
If there is anyone thinking it is a bad idea, shout quickly

[2012-06-08 23:19] farhanrahman opened #12 "Move Repository to organisation"
So I just discovered that if we made an organisational repository it would have been much better. I didn't know about this thing until today. Basically its much neater than having it on someone else's account, because having it on an organisation gives us more admin management facilities, looks cooler!!

I can transfer the repository but the issue is I don't know what could happen if I do. Things

[2012-06-08 23:20] tumblerer commented on #1
Losing information doesnt quite convey the problem.  For example, when calculating carbonReduction you need to perform carbonOutput/energyOutput.  As two longs this returns 0, and invalidates the rest of the functions.

Careful implementation (casting?) and testing means changes don't need to be made

[2012-06-08 23:47] Sergeus commented on #6
I was working on this today, made quite a bit of progress.   Should be able to finish it on monday.   (Assuming Canada starts in annex1?   Regardless, that's the behavior I'm implementing anyway.)

[2012-06-09 08:24] azyzio commented on #12
If anything including the push history (as seen in Network tab), posts (seen in Issues tab) is going to be lost, then I am against the change.
Otherwise, it is really up to you. Personally, I wouldn't waste time if it has no impact on our work.

[2012-06-09 13:14] webbo89 commented on #12
I'm up for it. We've got to put our apache web UI somewhere, and khadivi has a repo for data - could fit nicely under one roof.

[2012-06-09 13:14] webbo89 commented on #12
PS @azyzio  - history won't be lost, its simply an ownership change!

[2012-06-09 13:18] webbo89 commented on #11
I hope this still works with you - Current plan is at simulation start time we'll be pulling in a table of country data. Whatever you decide on, we can either have target set in the shared state or in the country agent constructor.

[2012-06-09 13:29] Sergeus commented on #12
What do we gain from this?   I'm a bit concerned that we seem to be potentially altering the project for no reason.   I understand that organizations offer some benefits, but none of them seem particularly applicable to our setup, unless I've missed some.

[2012-06-09 13:32] webbo89 commented on #9
This is a good point -

From the initialisation side of things - we've been anticipating this too. But rather than adding classes we thought that you may want to expand your agent constructor and we don't think it would be hard to do, so using AbstractCountry as a minimum you could use your own agent to add more fields.

Then on construction time I imagine it would look something like this:

[code

[2012-06-09 14:13] webbo89 commented on #12
We could instead transfer the project once we've completed it.

[2012-06-09 14:15] azyzio commented on #11
I think emission target is not defined from 1990 data, but we are calculating it with the service created by Jonny, so I don't think that there will be a need to pull it from a db.

[2012-06-09 14:21] azyzio commented on #9
Annex 1 sustain countries (e.g. Russia) also need all the functionality needed for kyoto and they have different behaviour than EU countries.
I think adding a new class that extends from Abstract Country and implements kyoto-related functionality would make sense. Having it:
- EU inherits from AbstractKyotoCountry
- Sustain inherits from AbstractKyotoCountry
- NonAnnex inherits from AbstractCountr

[2012-06-09 14:47] azyzio commented on #1
Yes, there is a problem when calculating ratios like this.
The normal transition like:
    double dirtyIndistry = (double) (carbonOutput / energyOutput)
Is going to return 0.0 as it does the conversion after the caluclation. The way around it is
    double dirtyIdustry = ( (double) carbonOutput) / energyOutput

This is a little tricky though and we invite people to introduce bugs. If we used doubl

[2012-06-09 14:49] azyzio commented on #9
And I agree that each type of a country type can introduce their own parameters if they wish to, but this is not what I was concerned about here.

[2012-06-09 14:55] piotroslaw opened #13 "Emission Target and Carbon Offset adjusted every year?"
I have read through "Carbon Offset - A Meaning Of", and have two questions:
- According to the model, the carbon offset that we buy only lasts till the end of the year. Say, a country has a carbon output of 110, and its target is 100. Then, if it doesn't invest in reduction/absorption etc, it has to buy 10 credits from other countries every year in order not to face sanctions. Shouldn't credits la

[2012-06-09 15:18] georgePil commented on #13
Credits should be maintained through the whole session and not cancelled since countries might want to have a long term economic strategy!

[2012-06-09 15:23] georgePil opened #14 ""Factories" and effect on economy(availabletoSpend variable)"
In order for countries to be able to increase their energy output and thus their economic growth, countries should be able to "build" factories and thus those factories have an effect on the energy output.. Do you think we should have a general constant value for that effect or just let countries decide? Also what would the cost be for those "factories", because countries should not be able to spe

[2012-06-09 15:29] tumblerer commented on #13
Credits do in effect last the entire the session.  However, they get used up year on year to account for their lack of carbonReduction.  This is because new emissionTargets are given to the agents every year.

The reason for year on year targets is to take into account how GDPRate is calculated. Think of the situation where someone could pump their GDP rate at the expense of carbonOutput for 9 yea

[2012-06-09 15:38] tumblerer commented on #14
This has already been considered and implemented in EnergyUsageHandler.

The cost of upgrading is constant across countries, although this could be changed (for example, to be a percentage of GDP).  However, i think this will be left as is for the moment.

You can increase energyOutput all you want, but your carbonOutput will also increase, meaning you'll find it harder to meet emissionTargets.  S

[2012-06-09 15:38] #14 closed, assigned to nobody

[2012-06-09 15:41] azyzio commented on #13
Both of your questions are actually touching the same issue - what carbon offset really is.

I will first address the first question. Targets are set on yearly basis as our measures of Carbon Output and Energy Output are on yearly basis. I.e. they define how much carbon you are using in one year. Investing in carbon reduction decreases your yearly production so this measure seems very reasonable.

[2012-06-09 15:59] georgePil commented on #14
In the EnergyUsageHandler you just set an "investment value" which then becomes carbon essentially since carbon investment price is 1. ie money -> carbon money->energy..which makes sense but is not entirely what happens in reality. Different "currencies" could be used but this can be done inside the countries depending on the cost of investing in energyOutput

[2012-06-09 16:00] tumblerer commented on #1
Ok, we'll leave this open until Monday (?) morning for people to register reasons not to change to doubles. Otherwise, we'll turn this into a task and assign it.

Or are we in a particular rush to progress with this over the weekend?

[2012-06-09 16:04] piotroslaw commented on #13
Ah, makes sense. Seems I misunderstood the wiki. Thanks for explanations.

[2012-06-09 16:04] #13 closed, assigned to nobody

[2012-06-09 16:07] tumblerer commented on #14
The actual value of constants are currently quite arbitrary, and have not be tested or fine tuned.  Much of what happens in the game probably falls into the category, "makes sense but is not really realistic".

The countries need a common method for costing investment.  Not saying the cost has to be the same, but the way of deriving it must be.   The idea of currencies was rejected a while ago.

[2012-06-09 16:24] azyzio commented on #1
I think there is no rush generally, but I wanted to see as many issues issued (:D) and closed :D

[2012-06-09 21:24] azyzio opened #15 "Half-Marathon"
Someone has to run a half-marathon tomorrow.
I will try handling it.
Wish me luck :D

[2012-06-10 18:41] azyzio commented on #15
Ok, the most important task of the day is done!

[2012-06-10 18:41] #15 closed, assigned to azyzio

[2012-06-10 18:44] azyzio commented on #12
@farhanrahman Do you want to carry on with the change? If so I guess it's better to do it today when no one has any uncommitted changes on their machines.

[2012-06-10 18:46] azyzio commented on #9
As there in no one against this change and I consider it quite an important one, I will work on it

[2012-06-10 21:11] farhanrahman commented on #12
I think we should first discuss about this in tomorrow's meeting and see what everyone has to say. Once changed i will fire off an email with intructions to change the remote repository....

[2012-06-11 00:47] farhanrahman opened #16 "Simulation class needs a constructor"
I remember that there was a default constructor in the Simulation class. Without that the simulation cannot run. The constructor is as follows:

[code]

[2012-06-11 00:58] farhanrahman opened #17 "Time Service guice injection"
Time Service needs @Inject statement in its constructor. Also constructor needs to be public.

I know Stuart fixed it but I think he still hasn't pushed the stuff so till then I will leave this issue open so that people don't go crazy when simulation throws exceptions.

[2012-06-11 11:22] oliviervg1 opened #18 "Add agent implementing invest/kill industry to basic simulation"

[2012-06-11 11:26] oliviervg1 opened #19 "Not enough game strategies?"
Nik believes that there aren't enough possible strategies for country behaviours and that everyone would just act on the last tick of each year.

To spread trades/investments more, it was suggested to introduce a spending cap per tick.

[2012-06-11 11:33] piotroslaw opened #20 "Carbon absorption just grants you offset once"
What happens now is, when you plant trees, you get a single reward in carbon offset.

This is slightly illogical - trees absorb carbon all the time, not just once. Conceptually, the ideal situation would be to grant carbon offset every year, for each tree block planted since the start of simulation. However, this would be difficult to implement - we don't store the amount of planted trees anywhere

[2012-06-11 11:34] ncocacola opened #21 "JUnitTests branch and folder structure"
Hey guys,

Please make sure that anything you do in /src/main/test is done on the JUnitTests branch.
During "work days", development is merged into it every hour or so (to get the most up-to-date code to test) and JUnitTests is merged into development at the end of each day (this is done mainly to avoid "polluting" development with test commits during the day - if you think there's a better strate

[2012-06-11 11:35] oliviervg1 opened #22 "Add agent implementing carbon absorption/reduction to basic simulation"

[2012-06-11 11:36] oliviervg1 opened #23 "AbstractCountry.java currently monitors all countries including rogue states."
Tom is trying to fix this.

[2012-06-11 11:37] oliviervg1 opened #24 "Group 2 JUnit testing"

[2012-06-11 11:38] oliviervg1 opened #25 "Finish CarbonTarget service and test functionality in conjunction with TimeService"

[2012-06-11 11:39] oliviervg1 opened #26 "Finish and test trade protocol"

[2012-06-11 11:43] piotroslaw commented on #19
The counterargument was that the ticks were introduced only to give trading enough time (remember every transaction is 3 ticks), so there is nothing wrong in investments being done only in the last tick.

Also, in case of ex-commies countries, this will actually not be the case - Russia and company will invest during the entire year if we think we can sell resulting offset at higher price than the

[2012-06-11 11:50] tmclayson commented on #23
Basic classes written, awaiting MongoDB access agent from farhan for final implementation.

[2012-06-11 12:02] piotroslaw commented on #20
Just realised countries do not even have to change anything - the variable will be initialised to 0, hence no need to alter the contructor.

[2012-06-11 12:32] piotroslaw opened #27 "Carbon Reduction/Absorption error handling"
If you look at both handlers, they are a bit messy when it comes to errors. They may throw NotEnoughXXX errors, which is good. The problem is that their behaviour in case of any other error is uneven:
- some functions use try catch blocks and return 0 or MAX_VALUE in case of error
- some don't use try catch blocks at all, and leave it to countries to catch any errors

The issue with the former is

[2012-06-11 12:42] Sergeus opened #28 "Extend Trade Protocol to Implement Clean Development Mechanism"
Using Trade Protocol or otherwise, we should be able to implement the clean development mechanism.   (Annex 1 countries investing in non-annex1 countries, providing the monetary benefit for the 'investee' and generating carbon credits for the investor.   Note: This is not the same as a purchasing transaction.)

[2012-06-11 12:50] piotroslaw commented on #27
tl;dr version:

I think it's better to catch exceptions where they can be properly logged and handled in uniform way, i.e. in countries using a handler

[2012-06-11 13:04] Sergeus commented on #6
I have a working simulation that almost does this, but the carbon reduction handler outputs numbers way out of the proper range.   This issue has been superseded by Piotr's work on the carbon reduction formulae.

[2012-06-11 13:04] #6 closed, assigned to Sergeus

[2012-06-11 14:28] cmd08 commented on #10
Private fields and protected getters still wouldn't hide any information though, would it?

[2012-06-11 14:31] cmd08 commented on #11
Each country has to keep a track of its own emissions target. Admittedly, this needn't be in AbstractCountry, but still if I were writing the implementation for a participant, I would want to keep a local value stored.

[2012-06-11 14:33] cmd08 commented on #21
The folder structure? Or package names? And in which commit was this broken?

[2012-06-11 14:35] cmd08 commented on #27
Might be best to re-throw them as a different type of exception, but in general you are 100% correct. Please close this issue (and associate a commit to it if you can) when you're done :)

[2012-06-11 14:56] tumblerer commented on #11
I'd agree with Chris, countries should keep track of their own emissionTargets which are pulled from the sharedspace at specific times.

Adam's right, emission targets aren't listed in the database, their calculated at the beginning of the game.

[2012-06-11 15:00] Sergeus commented on #20
Can this issue be closed then?   Your solution seems to work well.

[2012-06-11 15:00] tumblerer commented on #11
I think we'll leave this as it is for the moment.

[2012-06-11 15:00] #11 closed, assigned to nobody

[2012-06-11 15:00] piotroslaw commented on #20
done.

[2012-06-11 15:00] #20 closed, assigned to nobody

[2012-06-11 15:05] tumblerer commented on #20
Excellent.  Push it to dev and done.

[2012-06-11 15:20] piotroslaw commented on #20
already on dev

[2012-06-11 15:25] Sergeus commented on #17
Bug fixed by commit 0430c04

[2012-06-11 15:25] #17 closed, assigned to nobody

[2012-06-11 15:27] Sergeus commented on #16
Bug fixed in commit 0430c04

[2012-06-11 15:27] #16 closed, assigned to nobody

[2012-06-11 15:30] Sergeus commented on #9
Sorry, I sorta need to oppose this change.   If countries that are part of/not part of Kyoto inherit from different classes, then countries can't join or leave the protocol.   (Which is the defined case for Canada.)

[2012-06-11 16:07] piotroslaw commented on #27
It turned out that some changes were already made, but were not pushed to development. I took your (Chris) comment into account, and changed it so that now funtions catch exceptions (to know where they occured exactly, needed for debugging etc - this was partially implemented in the meantime by printing to console), but then throws exceptions "up". At each stage, the new function name is added to

[2012-06-11 16:07] #27 closed, assigned to nobody

[2012-06-11 17:44] georgePil opened #29 "Actions to Perform by Agents"
According to the document How Time Works ( A Brief history thereof) agents need to be added to the monitoring service, connect to reporting service and query for emission targets initially.

Addressing to the author :p or anyone who might know, it is my belief that Non-Annex 1 countries do not require to do this.

Also since Non Annex 1 countries are not being monitored then do not require to -Pay

[2012-06-11 18:14] farhanrahman commented on #29
So currently the countries will be monitored only if they are not non-annex1 but that feature hasn't been added yet. Tom was working on something to get that done but it wasn't done by today...

[2012-06-11 20:16] Sergeus commented on #10
Private fields would mean that functionality implemented in inherited classes (Eg. everyone's country implementation) couldn't modify any of those data fields.   While certainly possible for some, it seems to make it unnecessarily complicated.   If we did make them private and use getters instead, none of the code in AbstractCountry would be affected, only that of inherited classes.   (I'm not eve

[2012-06-11 20:22] cmd08 commented on #10
A class cannot read the superclass's private fields, but it can access the
protected getters/setters.

I think we've basically uncovered a problem we can do little about:
inheritance is not the solution, we should probably have used interfaces
instead somehow.

On 11 June 2012 21:17, Stuart Holland <
reply@reply.github.com

[2012-06-11 20:24] Sergeus commented on #4
I'll work on this tomorrow if no one's already made progress.

[2012-06-11 20:34] tumblerer commented on #29
You're right.

[2012-06-11 20:40] tumblerer opened #30 "getCurrentTick returns 0"
timeService.getCurrentTick() currently always returns 0.

This is quite a serious issue as it is used to calculate year ends etc.

[2012-06-11 20:47] Sergeus commented on #10
I think inheritance is a decent solution, because we have a lot of shared code that otherwise would have to have been duplicated.   I'd say we keep them protected as they are though.   Just make sure no one writes a behavior that gives themselves free money.   That's not cheating the game, it's damaging the project.

[2012-06-12 06:40] azyzio commented on #9
I can see that Tom has come up with a different solution to this problem, can you explain what?

[2012-06-12 06:45] azyzio commented on #10
What is the problem of using getters in the inherited classes?

[2012-06-12 09:27] azyzio commented on #30
How did you find it out? Through simulation or JUnitTesting?
I guess the reason for it is that Time Service is not registered for Event Bus (I don't really understand how it works), but I would like to debug it to make sure. The thing is that I haven't played with running simulations yet.

[2012-06-12 09:32] azyzio commented on #19
Why is Nik not posting here if has an issue?
I don't understand why would the countries do everything in the last tick, the prices on the "market" are going to change every tick so the countries will be definitely performing trades throughout the whole year.

The issue I may see (although I am not entirely convinced) is that some countries may invest in carbon reduction/absorbtion/factories during

[2012-06-12 09:34] azyzio commented on #7
I am going to implement this sanctioning today.

[2012-06-12 09:34] azyzio commented on #3
I think this issue is now resolved.

[2012-06-12 09:34] #3 closed, assigned to cmd08

[2012-06-12 09:35] azyzio commented on #8
@jjonnnyy would you help us in the discussion here?

[2012-06-12 09:37] Sergeus commented on #9
Basically, as far as I know, the AbstractCountry has a field that says whether or not the country is a member of Kyoto.   The Kyoto-only stuff like monitor tax just checks that the country is a member before executing.

[2012-06-12 09:46] azyzio commented on #9
nice and simple.
Ok, if all the countries may be kyoto then I don't consider it an issue anymore.

[2012-06-12 09:46] #9 closed, assigned to azyzio

[2012-06-12 09:47] oliviervg1 commented on #19
I have to agree with Adam here. I think there are more than enough strategies allowed by our simulation.

Until there is actual proof of the contrary, I am closing this issue.

[2012-06-12 09:47] #19 closed, assigned to nobody

[2012-06-12 10:00] Sergeus commented on #30
Simulation.   I'm working on fixing this now.

[2012-06-12 10:15] farhanrahman commented on #8
From what I read about multi agent systems (I could be wrong) is that the simple structure is that an agent percepts change to the environment and acts upon the environment. Now the way presage is built, it uses 'services' to pretty much access the environment whether it be accessing directly or leaving it to action handlers or actions (agents not caring about the services). I think we are mis-usi

[2012-06-12 10:21] azyzio commented on #8
I guess that Sam Macbeth is going to say exactly what you have said.

The problem here is that our solution is already implemented (I think Stuart has even tested that in a simulation) and ready to work. I know that it is against the multi-agent systems strategy, but we have a very limited time for implementation and it seems like the option that used services would take much more time (e.g. to cr

[2012-06-12 10:36] azyzio commented on #25
The current implementation of Carbon Targetting Service allows only the service itself to change the emission targets in the shared state.
As part of the sanctioning is a reduction of emission targets, it should be possible for a monitor to alter the environment regarding this. Can you add this to the service?

[2012-06-12 10:45] n1kunj commented on #19
I somewhat misunderstood the rules of the game, so I spent the last day thinking about EU strategies. So, it turns out that the issue isn't going to be that there aren't enough strategies. The issue is whether we can balance the game enough to make a lot of these strategies viable. That's a problem for another day.

[2012-06-12 10:50] farhanrahman commented on #8
I agree with you Adam, this is something that can be looked at a later point (if we have some time). For now since Stuart has got it working, its best to leave it as it is as a lot of things have been written already.

[2012-06-12 11:07] Sergeus commented on #30
I've got a temporary fix working for now that basically uses SimTime to give tick values.   But the event stuff isn't cooperating, so I've sent Sam Macbeth an email asking him about it.   If anyone is well-versed in event-related setup stuff and can take a look at TimeService on the testing branch, then let me know because I cannot get it to subscribe to the event bus.   (I've done the stuff on th

[2012-06-12 11:08] tumblerer commented on #18
Canada agent on testing can implement invest and kill industry.  Works.

[2012-06-12 11:08] #18 closed, assigned to tumblerer

[2012-06-12 11:37] Sergeus opened #31 "Carbon Reduction Handler Values"
Currently, the carbon reduction handler works in a flow of control perspective, but the values it returns for given investments are way out of range.   (A marginal investment (10% of availableToSpend) when carbonOutput is 30,000 tons results in an output change in excess of 900,000)

[2012-06-12 11:42] azyzio commented on #31
I don't understand the issue? Do you want to me to adjust the constants already?

[2012-06-12 11:44] Sergeus commented on #31
I don't really follow the math within the carbon reduction handler, so I'm not sure if the errors derive just from the GameConst stuff or the internal math of the handler.   If it's possible to get it to output reasonable values for testing that would be awesome.

[2012-06-12 11:49] azyzio commented on #10
Ok, I did some more research into how we can control access to members of the class (there is something quite interesting as  package-private fields) and I realized that this issue is not important enough to change all our classes at this stage.

I consider it breaking the rules of OO, but we should not be concerned with changing the whole implementation as the program is going to work just fine w

[2012-06-12 11:49] #10 closed, assigned to azyzio

[2012-06-12 11:49] tumblerer opened #32 "Remove GDPRate, emissionsTarget from constructor."
These can be removed from the constructor as they're calculated in game.

[2012-06-12 11:49] Sergeus commented on #23
Why do we need mongoDB access to implement not monitoring rogue states?   Can't we create a boolean field in AbstractCountry that's something like "isKyotoMember"?

[2012-06-12 11:51] azyzio commented on #32
emissionsTarget- yes
GDPRate - no

GDP Rate is recalculated every year based on the previous year value. We need an initial value to be able to calculate the next ones.
GDP Rate in 1990 is also a real data and we should use it to make the simulation as close to reality as possible.

[2012-06-12 11:52] azyzio commented on #31
OK, I will come up with some numbers.

[2012-06-12 11:58] Sergeus commented on #30
Interesting development with this bug.   Participant environment services (like TimeService) cannot, in this version of presage2, interact with the event bus.   (Explains why it was so frustratingly not working.)   I'm gonna create a new TimeService that's a global environment service so it can generate events, and change our current timeService so it can relate information to agents.

[2012-06-12 12:11] azyzio commented on #31
Ok, I have changed them so reasonable results should be found. Close the issue if it solved the problem.

[2012-06-12 12:12] azyzio commented on #30
Eh... Presage...

[2012-06-12 12:15] azyzio commented on #7
Update on implementation:

It is at the moment impossible to implement it fully as the Emission Targeting service doesn't allow anyone but itself to change emission targets in the shared state. The module will be fully functional only when such possibility exists.

[2012-06-12 12:16] #29 closed, assigned to nobody

[2012-06-12 12:59] tmclayson commented on #23
That would probably be easier...guess I got caught up in the moment a bit
and jumped on the first suggestion that seemed reasonable.

On 12 June 2012 12:49, Stuart Holland <
reply@reply.github.com

##

Tom Clayson
Information Systems Engineering - ISE3 (MEng)
Imperial College London
Department of Electrical & Electronic Engineering
TEL(UK) : +447774014054
TEL(ES):  +34692705912

[2012-06-12 13:05] tumblerer commented on #31
Not solved. carbonOutputChange in CarbonReductionHandler.invest() is throwing huge negative numbers.

[2012-06-12 13:19] piotroslaw opened #33 "CarbonAbsorptionHandler model"
Basically, the issue in the handler is that the price of planting trees only depends on the arable area left for a country. But this is not realistic - imagine a situation:
- Country A has 1000 area, and 50 arable area.
- Country B has 60 area, and 50 arable area.

Cost of planting trees in both is the same now. However, it shouldn't be the case - Country A is heavily "crowded", so that little are

[2012-06-12 13:21] piotroslaw commented on #22
Update on the task: Chris is doing CarbonReductionHandler testing, I am doing CarbonAbsorptionHandler testing. For now, neither handler works properly.

[2012-06-12 13:23] tumblerer commented on #31
Ok, found the problem:

CarbonOutput in calculateCarbonOutput is calculated as energyOut *(1-cleanIndustry).  However clean industry is not always a positive number less than 1.

Hence the roots of your quadratic need to be smaller.

[2012-06-12 13:23] Sergeus commented on #30
I have fixed time.   See commits 1ff20b4 and e93aed5.

[2012-06-12 13:23] #30 closed, assigned to Sergeus

[2012-06-12 13:40] piotroslaw commented on #31
Is it not? assuming carbonOutput < energyOuput, dirtyIndustry is their ratio (0 <= dirtyIndustry <= 1), so should work.

But I think there is an easier and more easy to work with way to calculate all of it, without using quadratic equations. Will propose something later.

[2012-06-12 13:49] azyzio commented on #33
This makes CarbonAbsorbtionHandler very similar in CarbonReductionHandler.

I have however discovered another problem with it.
Imagine a very unrealistic (but theoretically correct) situation:

Country A has area 100 and 100% of it is arable
Country B has area 100000 and 100% of it is arable

Now country A can invest in carbon absorption and changes 1% of its arable land into forest. It cost it, l

[2012-06-12 13:49] azyzio commented on #33
Same issue applies to carbon reduction.

[2012-06-12 13:50] azyzio commented on #23
So how is it currently working?

[2012-06-12 13:51] georgePil opened #34 "Energy Usage Handler - reduceEnergyOutput()"
In the Energy Usage Handler, when a reduction in energy output is required/occurs this is probably removal of factories since they pollute ( carbon output) but also produce energy (energy output). Should there be an increase in the arablelandarea since factories are removed?

[2012-06-12 13:52] azyzio commented on #31
Clean industry is always supposed to be positive number between 0 and 1. I guess the values of EnergyOutput and CarbonOutput in the simulation are not correct.

[2012-06-12 13:54] n1kunj commented on #34
As investing in carbon industries doesn't consume arable land area, removal of factories shouldn't return it.

Whether we change it such that investing in carbon industries does consume arable land area is, however, a good question.

[2012-06-12 13:55] azyzio commented on #34
I was thinking about it. Theoretically factories could take up some land. At the moment they do not.
When you build factories, arable land doesn't decrease. When you destroy them, it doesn't increase.
I think it is quite a reasonable model as factories take much less land than forests that have to be planted, so the area they take is neglectable.

Close the issue if you agree with me

[2012-06-12 14:01] tumblerer commented on #34
We'll assume for the moment that you're building factories on non-arable Land.

I think consuming Arable Land by building factories doesnt add very much to game, other than an aspect of realism and further complication to balancing the game.  It means more variables interact with each in other in obscure ways.

[2012-06-12 14:02] Sergeus commented on #31
The energyOutput and carbonOutput are initialized to correct values, but once the reduction handler supplies a massive change in one direction or the other, it breaks the formula for the second run at reduction.

[2012-06-12 14:03] tumblerer commented on #32
You're right, forgot that it used previous data.

As an aside, it's 1998 GDP rate that is used.

[2012-06-12 14:07] sc1109 commented on #1
Tory and I agreed to change all longs to doubles, I'll leave this open till Friday then close to give people a chance to scout any remaining unneeded casting or now needed rounding (Math.round).

[2012-06-12 14:09] sc1109 commented on #28
Challenge accepted!

[2012-06-12 14:10] georgePil commented on #34
Arable land area is the available area of a country so "factories" normally take space, since trees and factories are what control and change the carbon output, I though that both should change the arable land area since it is important in calculating costs( carbonAbsorption etc).

Also since there are not many game strategies, if we go through with "factories" we could have different sorts of fac

[2012-06-12 14:11] ncocacola opened #35 "Data for Africa"
Hey guys (more specifically Adam and Webbo),

With regards to the data.csv file which will contain all the input data for the program, I have come across an issue that needs to be solved.

We agreed with Stuart and Tory, that countries where some data is missing would be removed from the data set (typically small islands that don't really matter). For the specific case of former Soviet Union count

[2012-06-12 14:12] georgePil commented on #34
Also factories take some space :p I dont know what forests your countries have but back home forests are as big as factories haha :p

[2012-06-12 14:20] tumblerer commented on #34
Haha.  But no, I can't see this happening until we have a game that simulates and runs with all the functions that are needed.

It comes down to the difficulty of balancing the game as it becomes more complicated.

[2012-06-12 14:20] #34 closed, assigned to nobody

[2012-06-12 14:21] tumblerer commented on #35
I dont think removing energyOutput is an option.

[2012-06-12 14:21] Sergeus commented on #34
I think this is an unnecessary level of complexity.   Generally, forests, on a level that will affect carbon dioxide emissions, will be much larger than a factory which would create enough emissions to counteract that offset.   A large number of factories, in the real world, will be built on non-arable land.   It seems a suitable abstraction for our purposes, to assume factories are built on non-a

[2012-06-12 14:21] georgePil commented on #34
Ok fair enough, if there is time we reconsider!

[2012-06-12 14:22] tumblerer commented on #32
Done.  People need to fix up there constructors again. So sorry.

[2012-06-12 14:22] #32 closed, assigned to tumblerer

[2012-06-12 14:24] Sergeus commented on #4
Tory has a simulation which does this.

[2012-06-12 14:24] #4 closed, assigned to Sergeus

[2012-06-12 14:27] tumblerer commented on #7
Since countries "grab" emission from the space on the year end, could you not set the countries emissionTarget with the sanctioning body just after they grab the data, and thus overwriting the countries figure.

[2012-06-12 14:30] tumblerer commented on #31
@azyzio and @piotroslaw could you work something out between you?

The values of energyOutput and carbonOutput are correct.  Frankly, there's no way they can be incorrect, since they could take any value aslong as energyOutput>=carbonOut

[2012-06-12 14:32] Sergeus commented on #23
I'm working on this right now, just making some small changes to AbstractCountry.   But I gather there are some certain Kyoto members who don't pay monitor tax or something?   Who are they so I can exclude them in a reliable manner?

[2012-06-12 14:36] Sergeus commented on #7
I don't think you can do it the way Tory suggests.   The sanction service (is it a service?) needs to communicate changes in emissions target to the emission targetting service so that the changes an persist in some way.

[2012-06-12 14:40] sc1109 commented on #28
CDM is so similar to a normal trade, the only difference I can see is the initiator (investee) doesn't lose credits.

So I propose we use TradeProtocol with a new enum added to TradeType called CDM so that TradeProtocol can detect whether or not to deduct credits from the investee.

Problem?

[2012-06-12 15:31] n1kunj opened #36 "CarbonAbsorptionHandler getBlockCost() very broken. Also, number representations."
It always returns 0 because it uses longs instead of doubles, meaning carbon reduction is pretty much free for me in my test case. It's a bit late today but at some point we all need to sit down and properly figure out what number format we should be using for all variables. If we keep using longs for everything, we're going to have a bad time.

I suggest doubles and millions of dollars for everyt

[2012-06-12 15:32] piotroslaw commented on #33
That's not what I meant.

My idea is that only price of a single block of forest depends on the percentage of area that is free (arable / total). Hence, using your example, planting trees on 1% of the area would cost different amounts. While the average price for a single block in the transaction (which we can calculate and use easily if it is a linear function) would be the same for both countrie

[2012-06-12 15:34] sc1109 commented on #36
doubles for everything has already been agreed, I'll adjust CAH now

[2012-06-12 15:34] #36 closed, assigned to nobody

[2012-06-12 15:35] tumblerer commented on #36
CarbonAbsorption is being adjusted/rewritten, as @piotroslaw has found some issues also.

See #33

[2012-06-12 15:38] sc1109 commented on #36
I mean I'm changing stuff to doubles, a change to measuring in millions is a different issue

[2012-06-12 15:40] piotroslaw commented on #33
Also, to comment on the function of cost itself: While quadratic is much more realistic, we think that it massively complicates things. Since we have very little time, it seems a better solution to use linear function so that it can work asap, and then, if we have time, do a quadratic function instead.

I think the formula will be realtively simple, I can implement it tomorrow at uni and write a w

[2012-06-12 15:46] sc1109 opened #37 "CarbonAbsorptionHandler/AbstractPostCommunistCountry require updates for long->double conversion"
There is now some very dangerous looking methods which generate no warnings in both these files due to my meddling with the types in Abstract Country (all longs now doubles), please could the respective owners of these classes spend some time checking everything works?

[2012-06-12 16:46] tumblerer opened #38 "Timing of Annual functions"
We need check that each of the functions called at the end of years and sessions are called in the right order and at the right time.

For example monitors issues need to be performed before emissionTargets are updated.

Further to that, the list of functions to call should be filled and finalised as much as possible

[2012-06-12 18:04] piotroslaw commented on #33
Ok, I have heavily modified the CarbonReductionHandler, including its constants. Will do the same with AbsorptionHandler tomorrow, and will merge group2 which I am working in with dev.

Hence, be prepared that both will seriously change tomorrow early-afternoon, but it should not make much difference for anyone using the handlers, the only difference being that the functions now take doubles inste

[2012-06-12 19:05] georgePil commented on #37
By changing the variables from long to doubles, changes in EnergyUsageHandler have to be done as well, for the calculateCostOfInvestingInCarbonIndustry(long carbon).

[2012-06-13 03:20] farhanrahman opened #39 "Change to AbstractCountry to assist TradeProtocol"
So today we came to a problem that after finishing the trade protocol functions should be called for every country to change the carbon offset and change the cash. These functions are implemented in the super class i.e. AbstracCountry but the problem with this is that every country can choose not to call this function and when the initialise their trade protocol. This means countries can do whatev

[2012-06-13 10:08] azyzio commented on #35
Removing energy output is definitely impossible. Any alternative would meet the same problem.

I guess we can assume that those countries are 100% fossil fuelled. I guess they are generally >90% fossil fuelled anyway, so their strategy for the game would not be altered by making this assumption.

[2012-06-13 10:11] tumblerer commented on #39
Implementing in AbstractCountry is the best.  The bool

[code]

can be used to decide whether countries all allowed to take part.

[2012-06-13 10:29] tumblerer commented on #35
Good call.  I think that makes sense, as African states would have a lot of room for investment.

[2012-06-13 10:39] azyzio commented on #39
Why not:
Pass the reference to the abstract country as a parameter to trade protocol and then call those functions inside the protocol itself?
It would be proper encapsulation as it the exact moment of confirming the trade when the money and carbon offset should be updated.

[2012-06-13 10:42] tumblerer opened #40 "Package Protected Variables"
We're thinking of making (some?) variables of AbstractCountry package protected, meaning the variables are only visible to classes within the package.

This has the effect of preventing countries accidentally changing variables when they shouldn't be, but still allowing the handlers to access the variables.

Speak now, or hold your peace.

[2012-06-13 10:43] azyzio commented on #38
re checkTargets() - it is deprecated and can be easily removed. Monitor does the target checking automatically.

[2012-06-13 10:47] azyzio commented on #40
I looked into it yesterday (see #10). What is cool about package protected variables is that carbon reduction / absorption handlers won't be affected.

However e.g. Monitor will be affected and will require the creation of setters for the variables. At the end, not much is therefore changed as there would exist public getters and setters for most of the fields. Although it would be a better OO app

[2012-06-13 10:48] #35 closed, assigned to azyzio

[2012-06-13 10:51] azyzio commented on #7
As Stuart says, although the field inside the county will change, the change will be lost as soon as it polls the environment to get the emission target (which would not change as seen by the environment).

To avoid such situations I suggested removing emission target field from the country completely as there might be two different values for the same thing stored in the system.

@jjonnnyy can yo

[2012-06-13 10:55] azyzio commented on #23
If such members exist then they don't have to be specified by name but there should be a boolean parameter PaysTax than marks them.

[2012-06-13 10:56] azyzio commented on #23
But why would a country not pay taxes if it is in kyoto? :D

[2012-06-13 11:32] tumblerer commented on #40
Unless you move monitor into the same package.

Public getters arent a problem.

[2012-06-13 11:41] azyzio commented on #33
I have discussed the changes with Piotr and I have realized where my last model failed. Piotr's solution, although less mathematically "cool" fixes it, so I totally support what he is doing here.

[2012-06-13 11:46] Sergeus commented on #23
It has thus been decreed that for all countries, regardless of annex, carbon output, or offset, monitor tax shall be paid forthwith on the first turn of every new year, from now until the end of simTime.

[2012-06-13 11:46] #23 closed, assigned to tmclayson

[2012-06-13 11:46] ncocacola commented on #35
OK, what I'm going to do in this case is assign a 90+ percentage to these countries.
I'll use something like = 90% + a random percentage between 0 and 10 so that we don't have exactly the same percentage for each country?

Is that good with everyone?

[2012-06-13 11:53] tumblerer commented on #35
Fine.

[2012-06-13 12:01] sc1109 commented on #28
Hey @farhanrahman ! adjust TradeProtocol to account for the new generic Offer!

[2012-06-13 12:08] azyzio commented on #40
Yeah, actually it is only a monitor that is using Abstract Country fields and is not in the package.

[2012-06-13 12:09] jjonnnyy commented on #7
Yes, it should be possible to add this functionality. I'm not really sure of the best way to do so yet.

We could add a amendTarget method to carbonTarget or make carbonTarget check a shared data structure for sanctions before calculating the new target.

The biggest problem I see is that both monitor and carbonTarget will want to change targets at the end of the year and this may give us some pro

[2012-06-13 12:40] azyzio commented on #7
At the moment the monitor doesn't update the shared state with any sanctioning information but simply applies the changes on the countries. Helping the carbon targeting service seems a good reason to modify it as suggested by Tory in #8.

I was thinking about the ordering problem too. The "standard" yearly reduction should happen first and then the reduction caused by sanctions. If we used the sha

[2012-06-13 12:42] jjonnnyy opened #41 "Group 3 branch is very far behind development"
The group 3 branch is currently 187 commits behind development. Developing on a branch that is so far behind development will likely cause problems when you try to merge back in.

Could you please sort this by merging development into group3 - be extra careful about what changes are introduced, it is likely you will need to manually resolve some conflicts.

[2012-06-13 12:47] azyzio commented on #37
Piotr is dealing with Carbon Absorption handling now. I am starting to work on Energy Usage Handler.

[2012-06-13 13:37] tumblerer commented on #40
Actually, its TradeProtocol too.  Just to update you that's been moved into the countries package for the moment, for testing.  But only in group1 branch.

[2012-06-13 13:45] azyzio commented on #37
The issue is resolved.

[2012-06-13 13:45] #37 closed, assigned to azyzio

[2012-06-13 13:48] azyzio commented on #39
@farhanrahman can you update on the issue? From Tory's post in #40 I guess that you have decided to implement my solution. Is it introducing any problems?

[2012-06-13 13:50] azyzio commented on #41
@georgePil: I am not sure if you know what you are doing now :D You just updated the development branch without applying the changes from your group 3 branch. You think should focus on this issue quite quickly.

[2012-06-13 13:55] georgePil commented on #41
Done baby :p

[2012-06-13 13:56] georgePil commented on #41
everything up to date on group3

[2012-06-13 14:02] azyzio commented on #41
It doesn't look like that :D Check https://github.com/farhanrahman/kyoto/network to see if the merge went properly. There should be a line joining development with group2

[2012-06-13 14:05] azyzio commented on #24
Any updates here?

[2012-06-13 14:06] #21 closed, assigned to cmd08

[2012-06-13 14:07] azyzio commented on #31
As the Carbon Reduction is now using a slightly modified model, this issue is no longer valid.

[2012-06-13 14:07] #31 closed, assigned to piotroslaw

[2012-06-13 14:11] oliviervg1 opened #42 "Implement CDM mechanisms"

[2012-06-13 14:12] tumblerer opened #43 "Renaming EU and Commie Country"
EU renamed to AnnexOneReduce
Commies renamed to AnnexOneSustain

Better reflects the agents that will be instantiated under these behaviours.

[2012-06-13 14:12] #43 closed, assigned to tumblerer

[2012-06-13 14:14] tumblerer commented on #42
#28 deals with this.

[2012-06-13 14:14] #42 closed, assigned to sc1109

[2012-06-13 14:15] oliviervg1 opened #44 "Mongo DB connector for simulation output data"
Can @maxrev17 and @webbo89 come up with a list of data that they want to be able to represent?

Farhan can then implement a DataToMongoDB function which will be called at the end of every year/session in Abstract Country?

[2012-06-13 14:18] oliviervg1 commented on #25
It would be nice to test the whole CarbonTarget, Monitor and TimeService package ASAP.

[2012-06-13 14:20] oliviervg1 opened #45 "Test interaction between KyotoUI and Simulation.java"

[2012-06-13 14:23] oliviervg1 opened #46 "Balancing of input parameters"
Currently, most functions return unrealistic data.

We need to focus on balancing the input data as soon as possible!

Current work in [Balancing](https://github.com/farhanrahman/kyoto/wiki/Balancing)

[2012-06-13 14:30] jjonnnyy commented on #41
Right, I think it's all fixed now. At some point group3 should merge their work into development.

[2012-06-13 14:30] #41 closed, assigned to georgePil

[2012-06-13 14:59] Sergeus commented on #39
We've moved tradeProtocol into the countries package and made the relevant variables package protected, so that trade protocol can operate on them.   We're doing testing on the alterations to trade protocol now.   Once these tests are finished, trade protocol should work fully and completely to do carbon trading like we want to, and then we can work on CDM stuff.

[2012-06-13 16:00] piotroslaw commented on #33
Done, closing.

[2012-06-13 16:00] #33 closed, assigned to piotroslaw

[2012-06-13 16:01] piotroslaw commented on #22
Core part works, Nik will just do some testing on one of the additional utility function (which is not crucial - explained in google docs document)

[2012-06-13 16:09] ncocacola opened #47 "data.csv now available!"
Not really an issue, but I just wanted to let you guys know that the final version of data.csv is now available in my repo (http://www.github.com/ncocacola/kyotoCountryData).

This contains all and exclusively the data that will be inputted into the program via Jonathan & Max's interface.

All the information you need is in the README.md, otherwise, send me a message and I'll try to help.

Cheers,

[2012-06-13 16:23] #1 closed, assigned to sc1109

[2012-06-13 17:32] Sergeus commented on #38
For now, they seem to be ordered in a fairly sensible manner, and I fixed a hilarious timing bug with end of session calculations.   (End of session every turn for the first year ftw)   I need to make sure that the order used is consistent for targets and monitoring and stuff.

[2012-06-13 17:32] webbo89 commented on #44
This sounds ideal to me - i've written a provisional wiki on the KyotoUI page of what we'd find useful and tried my best to closely match the functionality of AbstractCountry.

https://github.com/kyotoprotocol/KyotoUI/wiki/SimulationOutput

Thoughts/Suggestions welcome of course!

[2012-06-13 21:38] piotroslaw commented on #22
which pretty much means this task should be closed

[2012-06-13 21:38] #22 closed, assigned to n1kunj

[2012-06-13 21:39] #12 closed, assigned to farhanrahman

[2012-06-13 23:47] farhanrahman commented on #39
I think this was quite a good fix, moving TradeProtocol to countries package and using package protection!! Or else you can have countries hack the TradeProtocol and generate extra cash!!! I am quite happy with the work today :)

[2012-06-13 23:49] farhanrahman commented on #45
Im on it at the moment.. The problem is none of the required data is fixed at the moment so my SimulationData object (JSON to java) is still not finalised so i am currently working on instantiating Participants based on the data that I currently can handle. WIll be changing the SimulationData.java class later on.

[2012-06-13 23:50] farhanrahman commented on #26
I would like to say I finished it but I would still like to improve it a bit. There is still some small room for improvements...

[2012-06-14 10:24] sc1109 commented on #28
Farhan is there really any point to Offer being generic? It feels like the most natural way to add CDM is by adding INVEST and RECEIVE to the TradeType enum.

[2012-06-14 10:55] sc1109 commented on #28
@farhanrahman : So I've added CDM by extending the TradeType enum and will try to test now

[2012-06-14 11:40] tumblerer commented on #40
This has all been done now, but people need to add getters to their behaviours.  Will close and open with something new.

[2012-06-14 11:40] #40 closed, assigned to farhanrahman

[2012-06-14 11:51] tumblerer opened #48 "Carbon Absorption Values"
We're testing carbon absorption and we're unable to invest enough money to perform any improvement in whole units of carbon.

Something to look into.

[2012-06-14 11:54] tumblerer opened #49 "Adjusting behaviours to use getters."
The country variables have now been changed to package protected.

This means to access variable values you'll need to use getters in your behaviour.

@georgePil ,  @whitebloodcell , @n1kunj

[2012-06-14 12:02] piotroslaw commented on #48
What exactly seems to be an issue? I have merged my and Nik's version manually yesterday after testing, so there might be some small mistake somewhere

[2012-06-14 12:12] tumblerer commented on #48
Whatever amount you try to invest, it claims you do not have enough money.

[2012-06-14 12:18] #28 closed, assigned to sc1109

[2012-06-14 12:18] #39 closed, assigned to nobody

[2012-06-14 12:22] piotroslaw commented on #48
are you sure you do actually have enough money? the constants (CARBON_ABSORPTION_MIN and CARBON_ABSORPTION_MAX) are set to some random values. try setting them very low, and see if the problem persists.

I have just run my test agent on Testing branch with low constants (1 & 5), and all went well.

[2012-06-14 12:41] sc1109 commented on #26
This is now awesomely finished!

[2012-06-14 12:41] #26 closed, assigned to farhanrahman

[2012-06-14 13:00] n1kunj commented on #49
All fixed on my end, I'll push changes when my behaviour code is a little more done.

[2012-06-14 13:09] tumblerer commented on #48
Being looked into.

[2012-06-14 13:38] n1kunj commented on #48
I haven't tried investing anything but I've tested all the other functions in the reduction/absorption handlers and they seem to be working exactly as expected.

There was a nasty bug in the reduction handler with a flipped sign but I fixed that last night, and just now confirmed that it still is fixed.

[2012-06-14 14:15] piotroslaw commented on #48
Solved.

[2012-06-14 14:15] #48 closed, assigned to piotroslaw

[2012-06-14 14:58] georgePil commented on #49
Done and pushed! This makes it harder to cheat though, good plan :p

[2012-06-14 16:03] tumblerer opened #50 "Carbon Absorption Mechanics"
carbonAbsorption is effectively the equivalent of carbon offset, except that it is not reset to 0 upon the end of a session.

If this is the case, does it get spent in the same manner as carbon offset when countries do not meet their target?  If so, which takes priority?  If not, does that not make carbonAbsorption the same as carbonOutput?

[2012-06-14 16:11] jjonnnyy commented on #7
The way we have worked this out in the end is to store a penalty value for each country that we factor into it's yearly target calculations (this value then resets at the end of every session). Monitor can then add to this penalty via the setCountryPenalty method in CarbonTarget (this method is package protected).

With this set up it does not matter whether the penalty is added before or after th

[2012-06-14 16:11] #7 closed, assigned to azyzio

[2012-06-14 16:26] sc1109 opened #51 "Carbon Absorption (maybe Reduction) gives improvement for free"
Using these in TradeProtocol for a CDM, gives the investee the benefit to absorption/output without costing any money!!!

[2012-06-14 16:36] piotroslaw commented on #50
Not really, they are very different.

carbonAbsorption is a measure of how much carbon we absorb per year, FROM carbonOutput. So if carbonOutput is 100, and carbonAbsorption is 30, we effectively emit 70 to atmosphere. Hence, if our target is 60, we "lose" 10 carbonOffset.

Provided we don't change anything, the carbonOffset will decrease every year. It is sort of a carbon "currency", and the only

[2012-06-14 16:54] piotroslaw commented on #51
Could you elaborate?

[2012-06-14 17:47] ChrisSSocha commented on #51
Have done some ad-hoc testing and it appears to work fine. Sam, can we have your values for arableLandArea, landArea, carbonOutput, availableToSpend and carbonAbsorption to do some testing with please.

[2012-06-14 20:53] tumblerer commented on #50
I forgot about the effects on the cost of carbon reduction.

[2012-06-14 20:53] #50 closed, assigned to piotroslaw

[2012-06-14 21:05] tumblerer opened #52 "Carbon Absorption using Carbon Output"
Line 105 of the carbon absorption handler refers to carbonOutput when calling getCarbonAbsorptionChange.

I couldn't work out why this would be, since carbonAbsoprtion and carbonOutput are different things.

This is more a case of drawing attention to it.  If its correct, just say so and close this.

[2012-06-14 21:14] tumblerer opened #53 "CDM failed action"
We were discussing the case of: what if a CDM transaction was approved, and money and credit had changed hands, but the handlers threw an error and the action was carried out.

Example:
A country wants investment to perform carbon reduction.  A trade is accepted at a certain cost price.  However, partway through the trade, the country spends the rest of its money on carbon reduction.  The money fr

[2012-06-14 21:30] azyzio opened #54 "Clean Development Mechanism Model"
I think that the model we are using for Clean Development Mechanism should be reconsidered.

Most of my knowledge about the current model is based on the Document "Clean Development Mechanism" in Google Docs, please let me know if any of it has changed.
1. When the nonAnnex country invests in reduction/absorption it should be the carbon  output / carbon absorption that are adjusted accordingly. In

[2012-06-14 21:36] sc1109 commented on #54
It currently works like this:

NonAnnex receives money which it immediately invests in Absorption or Reduction of the same amount of Carbon as is granted as Offset to the Annex country.

Whether the carbon absorption or output should map one to one to offset, is up to you.

[2012-06-14 21:40] sc1109 commented on #51
I used the same testtrade2 simulation values Farhan chose. Are you not seeing both players start with ~460k money, Stuart going to ~560k, Farhan down to ~360k? Stuart then reports having gained some absorption/reduction and Farhan reports gaining offset, but Stuart is never deducted the 10k for creating that absorption/reduction.

[2012-06-14 21:52] tumblerer commented on #54
The docs have become fairly outdated.  A weeks a long time in this project it seems.  Sam's right on.

[2012-06-14 22:07] piotroslaw commented on #52
I have noticed it today as well.

The way that function works, is it uses binary search to find the carbon Absorption increase matching given investment. The problem is, carbonAbsorption is potentially unbounded (can be as high as country wants), and binary search requires lower and upper bound.

As far as I understand, the idea here is that it would be silly for a country to invest in carbon abso

[2012-06-14 22:52] farhanrahman opened #55 "Problem with updating carbon offset yearly"
In the testtrade branch I found a bug in updating the carbon offset yearly. What I did was the following:

1) Ran the simulation for 730 ticks. The reported carbonOffset at the end was :

Farhan: -440.0
Stuart: 440.0

2) I ran the simulation for 731 ticks. The reported carbonOffset at the end was:

Farhan: -28440.0
Stuart: -27560

Now its correct in the sense that Farhan has less carbonOffset beca

[2012-06-14 23:02] farhanrahman commented on #53
Man good spotting. I think I may have found a possible bug from your thoughts. Its quite difficult to write it here but I think we should discuss it tomorrow.

[2012-06-15 10:06] tumblerer commented on #55
This is because of the way carbonOffsets are subtracted at the end of the year to make up the difference between carbonOutput and emissionTargets.

What should happen is:
*If offset is already negative, no subtraction should be performed
*If the offset is positive, but not enough to make up the difference - the offset should be subtracted until it is 0, but not into negative values

[2012-06-15 11:21] tumblerer commented on #55
Should be fixed.

[2012-06-15 11:21] #55 closed, assigned to nobody

[2012-06-15 11:21] tumblerer commented on #51
Works as expected.

[2012-06-15 11:21] #51 closed, assigned to ChrisSSocha

[2012-06-15 11:33] piotroslaw commented on #52
done, closing

[2012-06-15 11:33] #52 closed, assigned to nobody

[2012-06-15 13:48] cmd08 opened #56 "Development branch will not run"
Attempting to run development branch d067ce16903f16b761d385cee7ab83e2f720ce2a causes an error:

[2012-06-15 13:50] cmd08 commented on #56
This then forces eclipse to quit. Fun!

[2012-06-15 14:06] ChrisSSocha opened #57 "NetworkAddress to ISO helper"
Ability to get country info when overriding acceptExchange(...)

[2012-06-15 14:09] Sergeus commented on #56
Fixed this

[2012-06-15 14:09] #56 closed, assigned to nobody

[2012-06-15 14:46] georgePil commented on #54
@sc1109  "NonAnnex receives money which it immediately invests in Absorption or Reduction of the same amount of Carbon as is granted as Offset to the Annex country".

This has to be done by the countries behaviour though it does not happen immediately by the protocol right? Also to use it is it by just using the functions in AbstractCountry?
protected final void broadcastSellOffer(int quantity, do

[2012-06-15 14:54] sc1109 commented on #54
Yes, stuff happens eventually after a couple turns (i.e. the seller may actually receive money before the buyer loses any).
Those are the right functions, remember to make sure quantity and unit cost match for investment before you throw them into an offer using something like:

unitCost = this.carbonAbsorptionHandler.getInvestmentRequired(quantity)/quantity;

otherwise you'll see a bunch of excep

[2012-06-15 15:21] Sergeus opened #58 "Report Updating when Monitoring Discovers Discrepancies"
As it's implemented now, the carbon reporting service's reports that are stored in the shared state aren't updated when the monitor finds out that someone's report is inaccurate.

This can lead to the carbon targets service calculating incorrect emission targets for the following sessions.

[2012-06-15 15:23] jjonnnyy commented on #58
I've also noticed that monitor is not rechecking cheating countries against their target. I'll fix both issues now.

[2012-06-15 16:01] webbo89 opened #59 "Dynamically load GameConst values"
For the attention of anyone else who would like to pass dynamic parameters through presage for the simulation!

But mostly for @Sergeus  - I've used all but one of the constants (TICKS_IN_YEAR) in GameConst to be initialised:

They have been added to the CSV and can be added in a similar method to LPG game. Parameter declarations use the naming convention that GameConst uses! Feel free to drop any

[2012-06-15 16:01] webbo89 commented on #59
PARAM CSV https://github.com/kyotoprotocol/KyotoUI/blob/master/admin/csv/defaultdataparams.csv

[2012-06-15 16:08] tumblerer opened #60 "CDM - Deriving unit costs"
Currently, the 'loser' country specifies how much investment it wants and how many tonnes of carbon this will return.

This needs to be changed so that it simply specifies the number of tonnes and the abstractCountry will derive the cost before creating the offer object.

[2012-06-15 16:42] georgePil commented on #54
Thanks man! From this, shouldnt the quantity's type be double since carbonOutput, carbonOffset are double?

[2012-06-15 16:43] georgePil commented on #54
Or maybe I misunderstood something :p

[2012-06-15 16:45] sc1109 opened #61 "CDM - reversing changed investments"
It is possible for the cost of an investment to change while TradeProtocol is executing. In this case we want to undo any previous changing of money between investee and investor. This is very difficult.

[2012-06-15 16:45] sc1109 opened #62 "CDM - reversing changed investments"
It is possible for the cost of an investment to change while TradeProtocol is executing. In this case we want to undo any previous changing of money between investee and investor. This is very difficult.

[2012-06-15 18:02] #58 closed, assigned to jjonnnyy

[2012-06-15 21:38] farhanrahman opened #63 "investInCarbonAbsorption"
What is the deal with this function throwing a NotEnoughCarbonOutput exception when it doesn't throw it in the function?

[2012-06-15 21:51] n1kunj commented on #63
That may have been my fault - I cleaned up some of the code in the absorption handler, including a function where an exception was thrown, caught within the same function and then rethrown.

I assume this function is called in investInCarbonAbsorption (which I never bothered cleaning), which still throws an exception that the inner function never throws. It's perfectly safe to just remove that use

[2012-06-15 21:51] #63 closed, assigned to nobody

[2012-06-16 10:51] sc1109 commented on #61
duplicate lol

[2012-06-16 10:51] #61 closed, assigned to nobody

[2012-06-16 11:23] Sergeus commented on #59
I'm working on this now, it's slightly more complicated than I first expected.

[2012-06-16 11:43] cmd08 opened #64 "QueryEmissionsTargetHandler.java Compile Error"
In e994b80ac3691a8e1508bb985934460973cbbee8, line 46 has a compile error: requires an additional argument (year of target). Should this be inferred from the time service?

[2012-06-16 11:49] n1kunj commented on #64
Can we make this have an overloaded operator? If you call the function without the year it infers the year from the time service, else if you call it with a year x it works out the target in now + x years, assuming we meet all previous targets? It would make my life writing behaviours so much easier.

[2012-06-16 12:25] georgePil opened #65 "CDM protocol problems"
I started implementing the CDM function in the country's behaviour but I am a bit stuck in some points:
1. quantity shouldnt be a double since its the amount of carbonOffset, carbonOutput?
2. how do the countries know if the offer to sell was accepted by another country?

and 3. how can a country choose which offer is the best to go forward and accept it?

If I am missing any documentation on this

[2012-06-16 12:33] farhanrahman commented on #65
1) quantity is double since both carbonOffset and carbonOutput is double

2) Currently there is no function to let the person who initiated the offer using the offer method know that the trade was accepted. The variables should be automatically adjusted after successful trade. If not then nothing happens. I can add a function that calls a function in the country that the trade was rejected and the

[2012-06-16 12:43] georgePil commented on #65
1. Ok because I was confused since now its INT and I was wondering if I misunderstood the protocol
2. Then the country assumes all the offers it puts on the table are accepted? I dont get it, so why broadcast the sell offer then if no-one sees it and is accepted automatically?
3. NULL :p

[2012-06-16 12:50] farhanrahman commented on #65
you misunderstood me on point 2. I'll go through an example here.

Two agents in Lalaland:
George
Max

1) George wants to buy some carbon. So he sends a broadcast message
2) Max receives the message and decides to respond to the offer. So he calls the offer function in his tradeProtocol, which starts a conversation between the two. Max then waits in the TRADE_PROPOSED state
3) George sees what Max

[2012-06-16 12:51] farhanrahman commented on #65
Oh and yeah Im not too sure which version of Abstract country I have because the one i have has carbonOutput and offset  as type double.

[2012-06-16 12:52] farhanrahman commented on #65
I hope it helps man.. just let me know if you require any more function in the TradeProtocol

[2012-06-16 12:56] georgePil commented on #65
Man check your phone :p

[2012-06-16 12:56] #65 closed, assigned to nobody

[2012-06-16 13:04] Sergeus commented on #59
This works now.   It's commented out for now, so that we can run other simulations without giving all of those values.

[2012-06-16 13:04] #59 closed, assigned to Sergeus

[2012-06-16 13:10] jjonnnyy commented on #64
@n1kunj Firstly, agents can not access functions from services. Secondly, it is easy to predict your yearly targets to the end of the session however beyond that it would be quite unreliable. As a rough estimate, targets are simply a reduction between session targets of 5% spread linearly over the years in the session.

[2012-06-16 13:10] #64 closed, assigned to jjonnnyy

[2012-06-16 13:10] georgePil commented on #65
@farhanrahman you are a legend :D

[2012-06-16 13:11] #25 closed, assigned to jjonnnyy

[2012-06-16 13:16] tumblerer commented on #53
Fixed by Sam

[2012-06-16 13:16] #53 closed, assigned to nobody

[2012-06-16 13:23] farhanrahman commented on #53
what was fixed by sam? can you specify? I have restructured the TradeProtocol completely not too sure which version you are referring to

[2012-06-16 13:43] sc1109 commented on #62
I'm happy with the notenoughcash problem is reversed, are you happy with the current reversing @farhanrahman or are there any weird bugs left?

[2012-06-16 13:48] farhanrahman commented on #62
Again sam which version is this? Is it the last commit to testtrade2? I am quite happy with how it reverts now. I am not tol sure if it fully works. It worked with few test cases i used. But i think trade protocol is quite solid now..

[2012-06-16 13:55] tumblerer opened #66 "Year 0 reporting, monitoring, sanctioning"
No reporting or monitoring should occur in year 0.

[2012-06-16 13:56] tumblerer commented on #53
Ok tested and agreed to be working by Sam

Fixed by Farhan.

[2012-06-16 13:57] sc1109 commented on #60
done

[2012-06-16 13:57] #60 closed, assigned to sc1109

[2012-06-16 13:57] tumblerer commented on #62
He's using the one you worked on last night.

[2012-06-16 14:14] sc1109 commented on #62
Closing on the assumption we are 99% sure it works

[2012-06-16 14:14] #62 closed, assigned to sc1109

[2012-06-16 14:15] sc1109 commented on #54
update:

just call broadcastInvesteeOffer(quantity, InvestmentType);

that is all

[2012-06-16 14:15] #54 closed, assigned to nobody

[2012-06-16 14:26] jjonnnyy opened #67 "Double comparison bug"
In Monitor.java doubles are compared. This is bad and could break shit. Instead flooring should be used before comparison. I will fix this next.

[2012-06-16 14:28] #38 closed, assigned to Sergeus

[2012-06-16 14:29] #47 closed, assigned to webbo89

[2012-06-16 14:31] #8 closed, assigned to nobody

[2012-06-16 14:31] #5 closed, assigned to georgePil

[2012-06-16 14:49] Sergeus commented on #67
You should use Math.round() instead of Math.floor() because floor() would round 0.9999999999 to 0, which happens quite often.

[2012-06-16 15:11] webbo89 opened #68 "Starting a Simulation from MongoDB"
Currently I understand the sim can be run via debugging the project, however we're looking for the simulation to be called via an ID and load the necessary mongo files.

@maxrev17  and myself are prepared to make changes to ensure the data goes in correctly, i.e. by sorting types ETC.

However with @farhanrahman  the current stumbling block appears to be with mongo + the kyoto sim.

I've tested th

[2012-06-16 15:12] #67 closed, assigned to cmd08

[2012-06-16 15:15] Sergeus opened #69 "GDP Rate never falls below 1"
As it is now, GDP rate never falls below 1, so countries' GDP can never drop.   I understand recessions in the real world do not immediately correlate with falling GDP, it's falling GD growth rate.   However, our simulation won't work if GDP doesn't ever fall.   If you slash industry to reduce your carbon output, your GDP will only, at worst, stay the same, so you'll keep getting the same amount o

[2012-06-16 15:20] cmd08 commented on #68
Have you looked at the other Run files? (https://github.com/Presage/Presage2/wiki/Storing-simulation-data onwards in the Presage2 tutorial).

Could you make a really simple Presage project (perhaps just fork an existing working one from sammacbeth?) to test on for now?

[2012-06-16 15:25] webbo89 commented on #68
Thanks! That's currently the best option, kyoto is pretty big to be poking around for the error!

[2012-06-16 15:28] #66 closed, assigned to jjonnnyy

[2012-06-16 15:29] tumblerer opened #70 "GDP Growth Error (Duplicate #69)"
Currently GDP growth does not become negative unless growth is so small and the world is in recession.

Will reformulate now.

[2012-06-16 15:30] #70 closed, assigned to tumblerer

[2012-06-16 15:30] tumblerer commented on #69
More accurately:

Currently GDP growth does not become negative unless growth is so small and the world is in recession.

Will reformulate now.

[2012-06-16 15:32] jjonnnyy opened #71 "1990 data can not be added into simulation"
1990 data can not be loaded in Simulation.java since CarbonTarget method: add1990OutputData(String ISO, double outputData)  is not accessible at this point.

[2012-06-16 15:33] Sergeus opened #72 "AbstractCountry attempts to access monitor service directly"
Since Monitor is now a global service, agents (like AbstractCountry) can't access it directly.   Working on creating an action that replicates this functionality.

[2012-06-16 16:05] #72 closed, assigned to Sergeus

[2012-06-16 16:10] tumblerer commented on #46
Using this as a place to store ideas:

The first point of balancing is that we must achieve a drop of 5% year on year.  This gives us an idea of how much energy should change year on year, which is a pretty strong change to move forward from.  This directly means we can balance GDP changes.

[2012-06-16 18:05] cmd08 opened #73 "1990 data hacked in to model"
See #71 and solution (9876f98). Hacky for now...

[2012-06-16 18:07] #71 closed, assigned to jjonnnyy

[2012-06-16 19:00] cmd08 opened #74 "Multiple Simulation Files"
Hi there,

You'll notice that Simulation.java has moved to the simulations package. As we're all testing different things, we need different Simulation files. I something like "RealKyoto.java" will be the one which pulls in the data from the csv and models Kyoto. For now there's Simulation, and NoKyoto. Please feel free to add your own there!

[2012-06-16 19:05] cmd08 opened #75 "Energy and CO2 emissions stay constant even if GDP increases"
If you let a country exist on its own without Kyoto, monitoring etc. its GDP will increase, but energy output and CO2 output stay the same. I think this is wrong - increased GDP implies industry growth, and so energy output and CO2 should increase too.

Thoughts?

[2012-06-16 19:09] n1kunj commented on #75
Does it really matter? The increase is pretty much uniform across all countries, so we could just count it as global inflation. Market prices/cost of reduction etc. are increasing as well, so with some proper balancing it should all mostly cancel out.

[2012-06-16 19:23] cmd08 opened #76 "joinKyoto() & leaveKyoto() slightly misleading"
These should either throw an exception, or be renamed to show that they aren't guaranteed (something like tryToJoinKyoto() etc.)

I think throwing an exception is probably best.

[2012-06-16 19:27] cmd08 commented on #75
If all things are equal for all countries, should GDP not increase either?

I think the trend prior to Kyoto was that for countries who's GDP increased more, their CO2 emissions increased more too.

I think it might be worth trying to model reality a little closer on this as it's not a particularly tricky issue, and it also shows quite nicely what would've happend without kyoto.

[2012-06-16 19:30] Sergeus commented on #74
I'm correct in thinking that when someone wants to run a simulation, they need to adjust their arguments in the debug/run configurations to point to the correct simulation file?

[2012-06-16 19:31] cmd08 commented on #68
Ok, take a look at e2968745cfe44321c4465c43e79fcd39852f71b4. You should now be able to start a simulation using this simulation class:  https://github.com/farhanrahman/kyoto/blob/development/kyoto/src/main/java/uk/ac/ic/kyoto/simulations/NoKyoto.java

The instruction goes something like `uk.ac.ic.kyoto.simulations.NoKyoto countries=x finishTime=y`

[2012-06-16 19:33] cmd08 commented on #74
Yup! You go Run>Run/Debug Configurations...>Arguments tab and change the first argument to the fully qualified class name.

For instance: `uk.ac.ic.kyoto.simulations.NoKyoto countries=10 finishTime=10`

[2012-06-16 20:03] cmd08 opened #77 "Unable to spend maximum on carbon reduction"
If you attempt to calculate the maximum reduction you can afford, then proceed to attempt that reduction, an exception is thrown.

[code]

Throws a `NotEnoughCashException`.

[2012-06-16 20:31] farhanrahman commented on #77
whats the issue with that? its supposed to throw that exception..

[2012-06-16 20:31] farhanrahman commented on #77
oops pressed the wrong button

[2012-06-16 20:56] jjonnnyy commented on #76
Why would an agent not be able to join/leave kyoto?

[2012-06-16 21:09] cmd08 commented on #76
There's a time limit you have to wait to rejoin if you leave. @Sergeus @tumblerer can you help?

[2012-06-16 21:10] cmd08 commented on #77
The code asks what the max reduction of CO2 is, given the money available. Then when you try to make a reduction of that amount of CO2, it throws the exception.

[2012-06-16 22:09] tumblerer commented on #76
You are correct.  It's to prevent countries abusing the leave function in order to reset sanctions etc.  An exception should be thrown for the countries.

[2012-06-16 22:17] cmd08 commented on #76
Will add the exception now, rather than having them return true/false

[2012-06-16 22:20] tumblerer commented on #77
That might be because even though the money you have is enough to give you X carbon reduction, X is greater than the your carbon Output.

What exception is thrown?

[2012-06-16 22:21] tumblerer commented on #75
I'm rewriting the GDP Growth rate function.  This has been fixed, but not yet completed or pushed.

[2012-06-16 22:22] cmd08 commented on #77
NotEnoughCash exception. I've checked that it's well below the carbon output (about 160, compared to 70000)

[2012-06-16 22:23] #76 closed, assigned to nobody

[2012-06-17 09:48] piotroslaw commented on #77
I suppose it is because getCarbonOutputChange is not absolutely precise function - it uses binary search with preset number of iterations to find the carbon output reduction. Reasons for that are in the wiki on google docs (Carbon Reduction / Absorption Model).

[2012-06-17 11:40] n1kunj commented on #77
Taking a look now, might take a while as my local branch is well behind and a lot of stuff has changed.

[2012-06-17 12:58] #75 closed, assigned to nobody

[2012-06-17 13:00] #69 closed, assigned to tumblerer

[2012-06-17 13:03] n1kunj commented on #77
Fixed and pushed. My binary search had a misplaced divide by 2. Fixed an identical problem in the absorption handler.

[2012-06-17 13:05] Sergeus opened #78 "AnalysisUtils Type Mismatches"
AnalysisUtils still has a few variables that are longs and interactions with the double fields from AbstractCountry are causing typing errors at compile-time.

[2012-06-17 13:06] Sergeus opened #79 "Non-Annex-One Package"
The file BIC.java doesn't compile.   As far as I can see, it's using an outdated version of the investeeOffer function, giving the wrong arguments.

[2012-06-17 13:13] georgePil commented on #79
Yeap the only problem is the inveesteoffer for the CDM protocol. where instead of giving int for the quantity I give double. In my version quantity of inveesteOffer is int and I am in the development. Is yours double?

[2012-06-17 13:14] georgePil commented on #79
Also here : https://github.com/farhanrahman/kyoto/wiki/Carbon-Development-Mechanisms

It is int. But i think it should be double since carbonOutput is double.

[2012-06-17 13:28] #57 closed, assigned to farhanrahman

[2012-06-17 13:28] farhanrahman commented on #57
Added Decoder.java

[2012-06-17 13:33] farhanrahman commented on #44
I realised that Presage provides API for individual agents to store their data. It will appear in agents collection in the mongodb i think. So the way to solve this would be to add functions in AbstractCountry that sets properties every tick or year i.e. dumps the countries data into mongo. These values will be the true values that countries have every tick. I think this should be added after the

[2012-06-17 13:38] oliviervg1 commented on #44
Sounds good to me. Do you have time to do it Farhan ? Otherwise, I don't mind doing it.

[2012-06-17 13:38] Sergeus opened #80 "Change to AbstractCountry which makes trading initialization easier"
I've just moved the initialization of the tradeProtocol field up to AbstractCountry so that each individual country doesn't have to deal with the overriding function constructor complicated-death-thing in their initialize function.   However, everyone now needs to implement the acceptTrade() abstract function.   This returns a boolean, and it should be used to outline the conditions with which you

[2012-06-17 13:41] farhanrahman commented on #44
Hey Olivier...i don't think I can do it now as in I can do it in the evening/at night. I can finish it by today though..

[2012-06-17 13:42] Sergeus commented on #79
You're right, that should be a double, not an int.   I've changed Offer, hopefully that doesn't break anything.   @farhanrahman or @sc1109, was there a reason for that being an int?

[2012-06-17 13:46] farhanrahman commented on #79
Hey thanks for changing that..Offer class was made a long time ago so we didn't change it while the constructors were changing so much because of changes to data types.

[2012-06-17 13:49] farhanrahman commented on #80
Thats a good one. I was thinking we should move the responding function from processInput to abstract country. I realised the process input function gets all the messages and it is quite easy to send the offer that is already in the conversation into a new conversation. What that does is makes the country go into a never ending cycle of offering the same offer. That causes the TradeProtocol to war

[2012-06-17 13:53] #79 closed, assigned to georgePil

[2012-06-17 13:58] Sergeus commented on #80
Ok, that is an evil problem.   But how can we solve it?   If we pull processInput up into AbstractCountry how do the individual countries actually implement logic without this issue occurring?   We need to pass the input message down the hierarchy to them, but it exposes us to the same issue either way.

[2012-06-17 14:05] farhanrahman commented on #80
we don't pull processInput to abstract country. We basically move the ability of countries to start an offer to the AbstractCountry. However i just though of an easier fix. In the offer function I can check whether the offer message is of type TradeProtocol. If thats the case then I don't start the conversation. If the offerMessage type is BROADCAST then i allow the agent to start the conversation

[2012-06-17 14:37] Sergeus commented on #80
Argh, I should have updated here when I started working.   I'm moving processInput up to AbstractCountry and adding two abstract methods that countries have to implement.   One, respondToOffer(), which lets you look at an offer and see if you like it, and then sendOfferResponse() (name may still change) which lets people do the negotiation stuff, the offering to buy fewer tons than the other guy i

[2012-06-17 14:46] Sergeus commented on #80
I'm now considering a single function that returns null if you don't like the offer, otherwise this gets potentially very confusing for the countries.

[2012-06-17 14:53] georgePil commented on #80
It is confusing! :p

[2012-06-17 14:56] Sergeus commented on #80
That's because it's not finished yet. :P   It works, but the way it's set up now requires countries to write a lot of tradeProtocol-related code in their own implementations.   I'm trying to reduce the amount they have to do, so accepting an offer is similarly as simple as sending one.   (Sending an offer in the first place is great, you just call a function and you're done.)

I've run into a prob

[2012-06-17 15:05] Sergeus commented on #80
I've removed my changes. my solution didn't work.   I'm gonna try to find another way to do this.

[2012-06-17 15:09] tumblerer opened #81 "Race Condition between Offset Reset and Sanctions"
These two things are triggered on the same tick.

If offsets are reset first, countries will most likely not meet their targets.

[2012-06-17 16:25] tumblerer commented on #81
We don't actually know how to fix it.

One option is to perform them on different ticks.  ie. Sanction on 0, reset offset on 1.  However this is messy and can lead to inaccuracy for the countries using the Yearly functions.

[2012-06-17 16:38] farhanrahman commented on #80
Hey stuart..I think removing processInput to AbstractCountry isn't a good idea. This is because processInput is a very crucial part of communication. If we want to extend the functionality by adding some other types of communication then it would be impossible for people to override processInput and add their own behaviour. Lets leave it so that people in the future can use this to make their own

[2012-06-17 16:49] Sergeus commented on #80
Cool, if you're fixing it that's fine.   Soon would be good though so I can finish the documentation and everyone can do their final country implementation as soon as possible.

[2012-06-17 17:37] Sergeus opened #82 "All Services Referenced in Monitor have null value at the start of a new year"
For some reason, best known to the universe, the monitor grinds to a the first time its yearlyFunction() is called at the start of year 1.   (Where year 1 is the second year.)   According to some debugging, the references to all of the services in Monitor are null at that time, so it causes null pointer exceptions which destroy some component of presage2's eventbus execution.  I'm trying to work o

[2012-06-17 17:44] #82 closed, assigned to Sergeus

[2012-06-17 18:12] tumblerer opened #83 "Emissions Target not Changing"
I've run a 10 year simulation on development, and the emissions target isn't changing.

That's bad.

[2012-06-17 18:19] oliviervg1 commented on #44
Ok: here is some initial stuff https://github.com/farhanrahman/kyoto/commit/adb59ebe4b52267bbb915dc4a5b88c4108c2791e

I don't have time tonight to continue, so could  you have a look at it Farhan?

Thanks

[2012-06-17 18:24] farhanrahman commented on #83
Its not good everything is falling apart!!'

[2012-06-17 18:29] farhanrahman commented on #44
Awesome man!! Mbut i was thinking if we could keep a history of data i.e. maps getting updated and so when we store we just do setproperty("dave",blah map)..should be good...because currently only stuff will get overwritten so we will only have the last tick's data..

[2012-06-17 18:29] farhanrahman commented on #44
Cheers man..i will finish it off...

[2012-06-17 18:43] tumblerer commented on #83
It get's worse, I tried to run it for 20 years and it crashes out.  But emission targets still don't change.

[2012-06-17 18:48] jjonnnyy commented on #83
I apologise for writing shitty code, I'll see if I can track the bug down now.

[2012-06-17 19:38] oliviervg1 commented on #44
Damn I didn't know it overwrote the data every tick. That doesn't make a lot of sense to be honest...

On 17 Jun 2012, at 19:29, "Farhan Rahman" reply@reply.github.com wrote:

[2012-06-17 20:31] farhanrahman opened #84 "Moving exceptions to exception package?"
Can we move all the exceptions into the exception package?

[2012-06-18 09:04] ChrisSSocha commented on #84
Please do!

[2012-06-18 10:08] tumblerer commented on #49
I'll assume Tom's done this. If not, he'll have pretty useless code.

[2012-06-18 10:08] #49 closed, assigned to nobody

[2012-06-18 10:21] tumblerer commented on #46
Further to that, realistic data puts GDP spending as around 0.5%, optimistically, on Clean Energy drives.  Realistically, different countries dedicate a different amount to clean energy, generally far less.  However, since we can invest in industry also, this will do.

So we need to achieve a 0.5% drop per year with 0.5% of GDP.

[2012-06-18 10:33] #83 closed, assigned to jjonnnyy

[2012-06-18 10:56] #84 closed, assigned to farhanrahman

[2012-06-18 11:20] #24 closed

[2012-06-18 11:42] oliviervg1 opened #85 "Incorrect CarbonTarget and Monitor services"
Non Annex 1 countries are currently being set targets and can be monitored/santioned.

This is incorrect.

[2012-06-18 11:47] oliviervg1 opened #86 "Incorrect join/leave kyoto functions"
isKyoto boolean does not accommodate for non annex 1 countries which are part of kyoto but not monitored/sanctioned.

[2012-06-18 12:24] tumblerer commented on #46
Monitor Tax  / Monitoring Price = Number of Countries monitored. Kinda.  Need to find the average GDP of all countries to find the sanction rate.

[2012-06-18 12:29] jjonnnyy commented on #85
No changes to Monitor.java are required since adding and removing agents from the Monitor based on membership is done in AbsractCountry.

[2012-06-18 12:29] #85 closed, assigned to jjonnnyy

[2012-06-18 12:33] Sergeus opened #87 "Country Constructors Should Initialize Kyoto Membership Level"
Being a member of the Kyoto protocol is no longer a binary status, with reference to your membership field.   Now, you have a field called kyotoMemberLevel which says whether you are annex one, non annex one, or a rogue state.   If you are NOT annex one, you must initialize this variable to the correct value using the function setKyotoMemberLevel().   This function will only be accessible for the

[2012-06-18 13:07] #86 closed, assigned to Sergeus

[2012-06-18 14:49] tumblerer opened #88 "Country Grace Period"
A country grace period needs to be added to allow services to operate in the correct order.

10 ticks at the end of the year are reserved for service operations in which country behaviour will not be run.

[2012-06-18 14:49] tumblerer commented on #87
@whitebloodcell , @piotroslaw , @georgePil

[2012-06-18 15:04] georgePil commented on #87
Done ;p

[2012-06-18 15:14] piotroslaw opened #89 "Country strategy: buying or selling?"
This is a question for people creating and implementing annex one reduce strategy (mostly Nikunj, if I'm correct), but is kind of a general issue.

If you think about it, it is much more easier to only react to sell/buy offers from other countries, instead of broadcasting own offers. I'm talking conceptually, not how easy it is to implement the code. To give an example: in our case, the price at w

[2012-06-18 15:29] jjonnnyy opened #90 "Simulation hangs on CarbonTarget.java line 254"
Will be fixed ASAP.

[2012-06-18 15:40] tumblerer commented on #46
Sanctioning needs to be proportionate to the risk of get caught while cheating and the cost needed to reduce carbon by the 0.5% needed

[2012-06-18 15:47] tumblerer opened #91 "Test: Cheating and Reporting"
Cheating and Reporting services need to be tested.

Documentation may also be useful

[2012-06-18 15:50] n1kunj commented on #89
I've had similar thoughts - what I've decided on is for the annex one countries to do everything to avoid these issues.

My general market strategy is as follows:

If I'm above my target and need to reduce my carbon emissions, I'll look at the market. If there are offers available where the price is low enough such that I'll make a profit in the long run, I'll buy it. Else, I'll put down a buy off

[2012-06-18 16:07] #90 closed, assigned to jjonnnyy

[2012-06-18 16:09] tumblerer opened #92 "Reason to leave Kyoto"
Annex1 countries shouldn't be leaving kyoto, but if they get stuck in recession for multiple years (~6 perhaps), leaving kyoto is the only sensible option.

Countries should leave until their countries economy has recovered, and then rejoin kyoto.

[2012-06-18 16:12] tumblerer opened #93 "Test: Joining and leaving Kyoto"
Need to test how leaving and joining kyoto behaves.

Particularly with reference to how emission targets and maintained and recalculated.

[2012-06-18 16:25] ChrisSSocha commented on #78
Was fixed in group1 branch. Has now been pushed to dev

[2012-06-18 16:25] #78 closed, assigned to ChrisSSocha

[2012-06-18 16:49] ChrisSSocha opened #94 "Public cheaters map from monitor"
Feature to be added if we have time. Monitor should add a getCheaters(...) which returns a copy of the map to participates that request it (Suggest to make a copy of the Map, and return an Iterator)

[2012-06-18 16:56] cmd08 commented on #94
How about an ImmutableMap? http://google-collections.googlecode.com/svn/trunk/javadoc/com/google/common/collect/ImmutableMap.html

Then you can do `getCheaters().containsKey("Country")` to see if a specific country is a cheat without having to iterate over the whole map explicitly.

[2012-06-18 17:04] ChrisSSocha commented on #94
Perhaps `Collections.unmodifiableMap(/*map of cheaters*/)` ??

[2012-06-18 17:22] Sergeus opened #95 "Single Agent that always Cheats isn't sanctioned"
I've created a test that has a single agent who always reports its carbon output /2 (so, it always cheats) but it never gets sanctioned.   I reduced the length of a year to 17 ticks for the purpose of speeding this up, and then ran the simulation for 1000 ticks.   All of the code, as I've been testing it, is uploaded to the testing branch.

[2012-06-18 17:31] tumblerer opened #96 "Emissions Target not dropping enough"
The emissions target isn't dropping fast enough.

I ran the simulation for 20 years, and the emissions target had dropped by less than 0.95 of the original.

We think this might be something to do with time service.

[2012-06-18 17:32] tumblerer opened #97 "Carbon Target NullPointer"
Carbon target sometimes seems to throw a null pointer exception.  Simulation was run for 20 years.

[code]

[2012-06-18 17:33] tumblerer commented on #95
Possible issues include the monitor not taxing correctly, and the monitors cash reserve not persisting between years.

[2012-06-18 17:39] tumblerer commented on #81
Ok, we've attacked this in #88

[2012-06-18 17:39] #81 closed, assigned to sc1109

[2012-06-18 17:40] tumblerer commented on #46
Carbon Reduction and Carbon absorption need to be a comparable cost ideally.  The amount to the reduce by should be roughly equal to a proportion of the given money and the energy drop needed per round.

[2012-06-18 17:41] tumblerer commented on #97
Appears to be everywhere timeservice is used.

[2012-06-18 17:45] tumblerer commented on #89
The alternative discussed to the livelock is that if you broadcast an offer, you cannot simultaneously accept incoming messages.  It's less limiting than having only one kind of offer, and can be implemented at behaviour level.  Possibly at trade protocol level also?

[2012-06-18 17:47] tumblerer opened #98 "Data: Nigers Energy Output"
Nigers energy output is higher than their carbon Output.  Not possible.

[2012-06-18 17:47] tumblerer opened #99 "Data: Nigers Energy Output"
Nigers energy output is higher than their carbon Output.  Not possible.

[2012-06-18 17:48] tumblerer commented on #99
@webbo89 , @maxrev17 relevant also.

[2012-06-18 17:49] tumblerer commented on #99
Same with mauritiaus, madagascer, guinea, grenada, barbados, belize, bhutan,

[2012-06-18 17:57] #98 closed, assigned to ncocacola

[2012-06-18 17:59] tumblerer opened #100 "Data: Bahamas unrealistic data"
Bahamas has a ridiculous level of energy output.  More than twice the output of Canada and almost as much as Russia.

[2012-06-18 18:09] tumblerer commented on #46
Some calculations:
avg ALA : 15%
avg DI : 72%
avg Drop/y : 10685430
avg GDP : 158788
avg cash : 793.94

[2012-06-18 18:16] piotroslaw commented on #89
but surely, if you do that, you have a livelock - both countries would have to decline the offer of the other country. then, they would probably repost the offer in the next turn, with exactly the same result.

[2012-06-18 18:31] piotroslaw opened #101 "GDPRate calculation"
The function to update GDPRate in AbstractCOuntry was missing break statements in switch/case, I have just corrected it. As it was, it would always return RECESSION as eceonmy state.

Which leads to a question - was this tested? Are the formulas correct? I am asking because they are slightly different in the document on google docs, and frankly I have no idea how the formula works.

[2012-06-18 18:34] piotroslaw commented on #89
Alternatively, they would both wait in the next turn expecting that the other country would repost the offer. Either way, it is a livelock, until one country decides to repost the offer and the other not to do it

[2012-06-18 18:42] tumblerer commented on #101
The formula is fine and was tested in isolation from the economy code.

[2012-06-18 18:44] piotroslaw commented on #101
ok

[2012-06-18 18:44] #101 closed, assigned to nobody

[2012-06-18 18:47] n1kunj commented on #99
I read that very wrong the first time.

[2012-06-18 19:02] farhanrahman commented on #44
Added the dumping facility. However the onSimulationComplete() function is no longer called now. I am closing this issue as the functionality is there. Its just an issue with Presage i guess....

[2012-06-18 19:02] ncocacola commented on #99
HA HA HA

On 18 June 2012 19:47, n1kunj <
reply@reply.github.com

[2012-06-18 19:04] ncocacola commented on #100
I think I must have gotten confused with all this sorting & Excel columns etc.
All other values have been corrected (with a made up Fossil Fuel % as agreed).

The new kyotoCountryData.xlsx & kyotoCountryData.csv have been pushed to my repository.

Let me know if you spot any other mistakes.

[2012-06-18 19:04] #100 closed, assigned to ncocacola

[2012-06-18 19:04] ncocacola commented on #99
I think I must have gotten confused with all this sorting & Excel columns etc.
All other values have been corrected (with a made up Fossil Fuel % as agreed).

The new kyotoCountryData.xlsx & kyotoCountryData.csv have been pushed to my repository.

Let me know if you spot any other mistakes.

[2012-06-18 19:44] georgePil opened #102 "Ticks, Years and updates"
To the creator of time and general consideration,

Why can't  the update of GDP, available to spend etc be done every tick instead of every year?

I think its more sensible since the game needs to be up to dated every instance, every tick not just every year.

Transactions are done every tick and many transactions take into consideration your current cash.

Non Annex One behaviour which is basical

[2012-06-18 19:52] piotroslaw commented on #102
Even if you are right, it's too late to do a pretty drastic change like this. I have thought of it recently, and if we could do it all again, there would probably be many changes. But right now, I think the goal is to have a working simulation with independent agents, even if their strategies are not really perfect or diverse.

[2012-06-18 19:54] #102 closed, assigned to nobody

[2012-06-18 23:45] tumblerer commented on #89
I'm suggesting that when you have an offer out, you effectively block incoming messages.  So you have no idea what else is on the market and the chance of countries synchronising their actions decreases greatly.

[2012-06-19 00:09] Sergeus commented on #100
This is clearly because the Bahamas is AWESOME.

[2012-06-19 00:10] Sergeus commented on #99
Isn't energy output supposed to be the higher one?

[2012-06-19 06:27] ncocacola commented on #99
Yes, Stuart, you are right. I thought I'd corrected this issue last night
but turns out I made yet another mistake.
I re-calculated energyOutput based on carbonOutput1990 (God knows why...),
not carbonOutput, so it was still wrong...

I've corrected the mistake, so energyOutput values should now (hopefully)
all be correct.

Some energyOutput might not be less than carbonOutput, but exactly equal.

[2012-06-19 10:10] #44 closed, assigned to farhanrahman

[2012-06-19 10:13] tumblerer commented on #99
I've downloaded the latest xlsx and its utter nonsense at the moment.  Half the countries have energyOutput > carbonOutput and the other half have energyOutput < carbonOutput.

[2012-06-19 10:14] jjonnnyy commented on #97
From that stack trace it appears the error is due to not being able to find the necessary carbon report.

[2012-06-19 10:40] jjonnnyy commented on #95
Cash does appear to be persisting between years. However I'm a bit confused about how abstract countries cheat - there are three functions within AbstractCountry that are to do with reporting carbon emissions: addToReports, reportCarbonEmission and reportCarbonOutput. Which is the correct one to override? Are any of these redundant?

[2012-06-19 10:44] tumblerer commented on #99
Also, could you chage GDP to $ instead of $m.

[2012-06-19 12:41] Sergeus opened #103 "AbstractCountry Extraneous Reporting Functions"
There are several methods in AbstractCountry which look like they're part of the carbon reporting service, but are very confusingly named and look like they can be deprecated.   They involve sharedState and all sorts of very strange things I don't quite understand enough to pull the functions out.   The functions are:

addtoReports()
getCarbonEmissionReports()
reportCarbonEmission()
getSharedState

[2012-06-19 12:53] sc1109 commented on #88
done

[2012-06-19 12:53] #88 closed, assigned to sc1109

[2012-06-19 13:50] jjonnnyy commented on #96
Should be fixed by 29dc5d7 and preceding commits. Bug was due to the way penalty was implemented as well as a negated value in Monitor.

[2012-06-19 13:50] #96 closed, assigned to jjonnnyy

[2012-06-19 13:59] tumblerer commented on #46
Avg ALA/CarbonOuput ~ 5500

[2012-06-19 14:25] tumblerer commented on #46
2.6 tonnes of co2 per acre.

0.3846 acres per tonne.

0.0156 km^2 per tonne

http://www.treesintrust.com/environmental.shtm

[2012-06-19 15:55] ChrisSSocha opened #104 "Add ImmutableMap as dependency"
From google-collections, http://google-collections.googlecode.com/svn/trunk/javadoc/com/google/common/collect/ImmutableMap.html

[2012-06-19 15:55] #104 closed, assigned to cmd08

[2012-06-19 16:24] tumblerer commented on #46
For carbon Investment price.

The investment cost > the return for the next few years gained by increasing GDP.

[2012-06-19 16:41] tumblerer opened #105 "Carbon Handler - Binary Search"
The binary search may well not do enough iterations to get an accurate answer.  The values of energyOuput are in the order x10^9.

Checkout it out and either mark it safe, or fix.

[2012-06-19 16:43] ChrisSSocha opened #106 "NotEnoughCashException, NotEnoughCarbonException, NotEnoughLandException should extend Exception"
`NotEnoughCashException`, `NotEnoughCarbonException`, `NotEnoughLandException` should extend `Exception`, and not `RuntimeException`, as these the caller will want to _check_ these errors.

[2012-06-19 16:47] #106 closed, assigned to nobody

[2012-06-19 17:24] piotroslaw commented on #103
Adding to this, the function reportCarbonOuput is called twice in execute() in AbstractCountry. I assume this is an error?

[2012-06-19 17:24] n1kunj commented on #105
The previous number of iterations was 20. This results in a maximum error of about 953 parts in 10^9. I've increased the number of iterations to 30, which decreases the error to a little under 1 part in 10^9.

[2012-06-19 17:24] #105 closed, assigned to n1kunj

[2012-06-19 17:39] tumblerer commented on #46
Need to look at the cost to achieve an increase of energyOutput by a certain percentage

[2012-06-19 21:16] ncocacola commented on #99
They were in $ initially, but the constructor in AbstractCountry was in $M.

I've changed it back to $, check my repo.

On 19 June 2012 11:44, Chris <
reply@reply.github.com

[2012-06-19 22:18] n1kunj opened #107 "updateGDPRate() is incredibly broken"
The stripped down (but otherwise identical) version of updateGDPRate() I'm using in my behaviour code is, very, very often returning utterly ridiculous GDP rates.

Example inputs:

oldGDPRate = 0.021889750484631952
energyOutput = 974232.4944951184
prevEnergyOutput = 996503.8463622332

returns a GDP Rate of -0.58 (equivalent to 58% reduction in GDP!)

oldGDPRate = -0.5842203056518727
energyOutput =

[2012-06-19 22:31] tumblerer commented on #107
I'll take a look at it tomorrow.  If you could come in that would be even better.  It should never return values like that since it should be trapped by the exponential function between +/-0.07.

[2012-06-19 22:33] azyzio commented on #88
cool!

[2012-06-19 22:42] tumblerer commented on #107
As an aside, that's an enormous energy drop. 2.3% in one year?  Considering you need to drop around 0.5% per year normally, and you wouldn't normally do this by removing industry solely.  Still it should handle this.

I'll admit, I havent tested it with largish values, but the theory should hold I reckon.  Maybe I need to adjust how it drops.

[2012-06-19 22:42] azyzio commented on #89
So the two countries that would be potentially interested in each others offers cannot see each other. Therefore, they post again in the next round -> livelock.

As there is not much time, I think it would be reasonable for countries that want to buy - only look for what is offered on the market, countries that want to sell - only send offers (not look at the market). It is a little unrealistic, d

[2012-06-19 22:45] azyzio commented on #99
why change to $?

Actually, it probably doesn't make a difference when using doubles.

[2012-06-19 22:47] azyzio commented on #100
like

[2012-06-19 22:47] tumblerer commented on #99
Mainly because the amount of carbon you need to drop is in the region of 10^7+, so you were working in fractions of availiable cash.  It's really just a cosmetic thing.

[2012-06-19 22:50] n1kunj commented on #107
It's part of the behavior which tests the long term repercussions of shutting down factories just so you can sell off lots of credits. This behavior should end up being balanced out but it still needs to be considered as a viable strategy for my mini simulation to work. Unfortunately because the formula is returning such broken values (if you simulate with a particularly large GDP rate for multipl

[2012-06-19 22:52] n1kunj commented on #89
I agree, we should stick to just sell offers for the time being. It's unlikely we have enough time to do anything else.

[2012-06-19 22:57] tumblerer commented on #107
I havent mirrored the formula into the opposite quadrant.

[2012-06-19 23:13] piotroslaw commented on #89
Nik's behaviour is absolutely reasonable - check if there are good offers, if not, post your own. I will have two phases of selling - in one I will only wait for buy offers, in the other I will do the same as Nik - check if there are good offers, if not, post my own (will write a wiki on that soon).

So, it's not only livelock that is a problem here. Since the execution order is not sequential afa

[2012-06-20 10:21] cmd08 commented on #77
This is still broken. Please to be fix?

[2012-06-20 10:24] n1kunj commented on #77
Can I get some example code which breaks it?

[2012-06-20 10:27] cmd08 commented on #77
[code]

[2012-06-20 10:28] cmd08 commented on #77
@n1kunj please also see the associated commit 9449ce5

[2012-06-20 10:29] tumblerer commented on #89
As an aside, @n1kunj something to consider with your code.  Since your code is used for a large block of countries, will they all look to buy and sell at the same times?  I'm  worried about large bubbles in the market caused by 30 countries all looking at the market and thinking its a good time to buy

[2012-06-20 10:31] tumblerer commented on #107
Should be fixed by d75e6c33cfd399a615f0e1aa1ab478ac15ee4fb6

[2012-06-20 10:31] #107 closed, assigned to tumblerer

[2012-06-20 10:31] cmd08 opened #108 "Overhaul of Monitoring and Reporting"
## Proposition:

to fork cheating out of the main Development branch and allow it once basic monitoring working correctly.

I think we should ignore cheating for now and the monitor should execute a function on each country ie: `getReportedEmissions()`

[2012-06-20 10:33] n1kunj commented on #77
What are the availableToSpend, carbonOutput and energyOutput you initialised the country with?

[2012-06-20 10:39] n1kunj commented on #77
Ah, that would make sense - whoever designed the original formula made it round up the number of units instead of down.

Leaving the issue open for now, close it if that fixed it.

[2012-06-20 11:17] cmd08 commented on #77
It's an almost fix, however it gives unexpected results which are non-consistent.

Please could you take a closer look at this? I think it needs more than a couple of Math.floor()s. Perhaps only ever provide ints in and out (even if you say you can accept floats?) Or perhaps we should respond with an Investment object which ties a cost, co2 together. This would mean the handler could offer similar

[2012-06-20 11:18] cmd08 commented on #77
As for availableToSpend etc: i'm using uk.ac.ic.kyoto.countries.testCountries.Reduce.java

[2012-06-20 13:10] n1kunj commented on #77
Looks like this is an issue for the person that originally wrote the function, which I think was Piotr.

[2012-06-20 13:49] piotroslaw commented on #77
looking at this now. which branch are you testing on?

[2012-06-20 14:17] tumblerer opened #109 "Emissions Target too low"
Emissions target is reporting too low a value after 10 years.

For average country it should return 230 005 609, but is returning 220 865 912

[2012-06-20 14:26] piotroslaw commented on #77
Ok, found the "problem", this has been discussed many times, and is also described in wiki page.

You cannot go back and forth (get carbon reduction for given investment and then calculate the price of investment for that reduction) and expect that the values will be exactly the same. And it doesn't matter if we use binary search or exact quadratic equation solving - still, reverse operations on d

[2012-06-20 14:29] tumblerer opened #110 "Emissions Target Incorrect in First Year"
The emissions target set for the first year is incorrect.

It sets it to that countries 1990 value of carbon output.

[2012-06-20 14:29] piotroslaw commented on #77
I have just reversed the changes to rounding, they make matters even worse

[2012-06-20 14:31] jjonnnyy commented on #110
This is correct according to the formulas we worked out before. What do you think it should be?

[2012-06-20 14:35] Sergeus commented on #108
Just fixed all this.   Because I am awesome.

[2012-06-20 14:35] #108 closed, assigned to nobody

[2012-06-20 14:35] tumblerer commented on #110
Assuming theres only one country, you should need a drop of 0.995 in the first year.

But you know what?  Maybe that is fine for the moment.  Some countries will still need to reduce to get themselves back to near 1990 levels.

Leave it, for the moment.

[2012-06-20 14:36] cmd08 commented on #77
Yea, I figured this was the issue.

We need a better solution to this: either deprecate the function, or return something more useful (perhaps the actual price slightly below the one input, and associated carbon reduction?)

I appreciate the underlying function has no inverse, so we either have to not provide it in the API, or return more useful data.

[2012-06-20 14:36] Sergeus commented on #95
It's sanctioned now that we fixed the null pointer.   It takes the money.   There was a fun bug where the first time a country was sanctioned for cheating, instead of taking any money from it, it just rounded its availableToSpend to the nearest dollar.   I've fixed that though, so this all appears to be working.

[2012-06-20 14:36] #95 closed, assigned to jjonnnyy

[2012-06-20 14:36] tumblerer commented on #110
The issue is, if you dont make a 0.995 drop in the first year, you won't get down to 0.950 by year 10.

[2012-06-20 14:37] Sergeus commented on #97
Fixed, because BLAM!

[2012-06-20 14:37] #97 closed, assigned to jjonnnyy

[2012-06-20 14:41] #80 closed, assigned to farhanrahman

[2012-06-20 14:49] cmd08 commented on #77
In 5e968f3211a1eaebc8d721344d7d421db78fbbee I've deprecated the public method. I know this isn't ideal, but I hope it will make people read the JavaDocs!

Also, I've added a while loop in the Reduce country to check that the required cash for a reduction is less than the cost.

I'm going to mark this as a wontfix for this release: seems pointless for now.

[2012-06-20 14:54] jjonnnyy commented on #110
Ok, I get your point. The reason will be because we defined the year target as:

target  = last session target - (difference between last and current session target \* session progress) - penalty

Where session progress is:

(current year % years in session) / years in session

Therefore year 0 will be session progress 0.0 and year 9 will have session progress 0.9

I could correct it so that the f

[2012-06-20 14:54] piotroslaw commented on #77
Deprecating is a good idea - this function is very useful to do a very precise estimation, so removing it altogether would be counterproductive. But people who use it need to keep in mind that it is not 100% exact, and should be used with caution.

Knowingly over/underestimating a return value would be some kind of fix, but I am afraid it would create even more confusion, and I'm not sure sacrific

[2012-06-20 14:54] #77 closed, assigned to piotroslaw

[2012-06-20 15:06] Sergeus opened #111 "Emissions Target goes negative when member countries can't reduce enough"
I've created a simulation where there are two agents, one annex one country and one rogue state.   The rogue state produces vastly more carbon emissions than the annex one country.   When global emissions are such that a 5% reduction in overall emissions is greater than the annex one country's total emissions, the emissions target for the annex one country becomes negative.   (There are then many

[2012-06-20 15:10] jjonnnyy commented on #111
Well we knew this was possible since we designed the formulas. The question is how do we want to handle it?

I suggest we either ignore it on the condition that we don't run our simulations with parameters that will make this happen or set a cap on the max session reduction that can be applied to annexone countries.

[2012-06-20 15:22] tumblerer commented on #110
I think it means that you won't end up doing a 0.1 shift in one year as opposed to 0.05 shift.  Doing it right is best.

[2012-06-20 15:25] jjonnnyy commented on #110
No because difference between the session targets is 5% (if there is only one agent) therefore producing a 0.5% reduction each year regardless of whether that starts at 0 or 1.

[2012-06-20 15:50] Sergeus opened #112 "Monitor Finds null Countries"
On lines 188-190 of Monitor.java, there is a loop that selects which country is to be monitored.   It creates a random index value and then tries to get the country with that index value.   At some point, it's generating an index value that's out of range of the country map, so the map's getter is returning null.   It passes null to the carbonTarget service which (correctly) throws an exception.

[2012-06-20 16:13] #112 closed, assigned to farhanrahman

[2012-06-20 16:36] #111 closed, assigned to nobody

[2012-06-20 16:37] Sergeus commented on #103
Turns out we need to use these.

[2012-06-20 16:37] #103 closed, assigned to farhanrahman

[2012-06-20 16:40] oliviervg1 opened #113 "Re-joining Kyoto defaults to Annex 1 membership"
As it stands, a country will be an Annex 1 country if it leaves Kyoto and then rejoins it.

It should rejoin Kyoto at a suitable level (depending on GDP and emissions? ie: Annex 1 if GDP and emissions are above the ones of the poorest and highest emitting Annex 1, and Non Annex otherwise?)

[2012-06-20 16:40] oliviervg1 opened #114 "Re-joining Kyoto defaults to Annex 1 membership"
As it stands, a country will be an Annex 1 country if it leaves Kyoto and then rejoins it.

It should rejoin Kyoto at a suitable level (depending on GDP and emissions? ie: Annex 1 if GDP and emissions are above the ones of the poorest and highest emitting Annex 1, and Non Annex otherwise?)

[2012-06-20 16:42] #113 closed, assigned to Sergeus

[2012-06-20 17:39] Sergeus opened #115 "Non-Annex One Countries Never report their carbon emissions"
Because Monitor.java only has a list of Annex one countries and it's the one that calls the function in AbstractCountry which triggers the reporting, for synchronization purposes, countries that are not in annex one never report their carbon.   Therefore the simulation dies at the end of the first session because carbon target looks for reports that don't exist.

[2012-06-20 17:40] #115 closed, assigned to Sergeus

[2012-06-20 18:46] cmd08 commented on #74
Think everyone's seen this now... Closing

[2012-06-20 18:46] #74 closed, assigned to nobody

[2012-06-20 22:31] webbo89 opened #116 "Trade Transaction Data"
For logging country to country transactions, this is my suggestion to @farhanrahman as to how to save the data in a separate mongo collection. (to ensure no data is lost)

[code]

[2012-06-21 10:08] #110 closed, assigned to jjonnnyy

[2012-06-21 11:33] Sergeus commented on #114
We've decided this is acceptable behavior for now.   If you want to discuss this, ask me, Tory, or Socha.

[2012-06-21 11:33] #114 closed, assigned to Sergeus

[2012-06-21 13:14] #116 closed, assigned to nobody

[2012-06-21 14:03] sc1109 opened #117 "Yearly function happening before new targets are set"
Currenty, the yearly function which should take new targets into account to decide behaviour for the next year, happens before those targets are set.

One solution is to continue the 'monitor calls everything in order' fix for carbon target, but this is messy and feels wrong.

[2012-06-21 14:47] #109 closed, assigned to jjonnnyy

[2012-06-21 14:59] tumblerer opened #118 "KyotoUI - carbonOutput1990 is not added from UI"
When starting a simulation from the UI, carbonOutput 1990 is not added to the simulation

[code]

Is the code normally used to add country 1990 data to the table.

[2012-06-21 15:06] #118 closed, assigned to farhanrahman

[2012-06-21 15:20] sc1109 commented on #93
Rejoining is very difficult due to the number of lists you need to be added to at the right time. Me and Tory think we should forbid rejoining for now, is this devastating to anyone?

[2012-06-21 15:51] sc1109 commented on #117
@Sergeus We'll talk about this tomorrow

[2012-06-21 16:46] tumblerer commented on #99
This is done for the moment

[2012-06-21 16:46] #99 closed, assigned to ncocacola

[2012-06-21 16:47] tumblerer commented on #46
Going to call this done for the moment.  Not going to continue working on it unless I get some feedback

[2012-06-21 16:47] #46 closed, assigned to tumblerer

[2012-06-21 16:49] cmd08 commented on #93
Fine, rejoining is in the next build.

[2012-06-21 16:49] #93 closed, assigned to nobody

[2012-06-21 16:50] cmd08 commented on #91
Apparently tested and appears to work.

[2012-06-21 16:50] #91 closed, assigned to Sergeus

[2012-06-21 16:50] #87 closed, assigned to nobody

[2012-06-21 16:51] cmd08 commented on #92
Lets leave this up to individual countries for now, bearing in mind that they CANNOT rejoin in the first version

[2012-06-21 16:51] #92 closed, assigned to nobody

[2012-06-21 20:21] piotroslaw opened #119 "TradeProtocol behaviour"
I have asked about it at uni, but could you (Farhan) write here or in wiki when exactly certain events happen?

What I mean is, say you broadcast an offer in tick 0 - when is the processInput function of other agents triggered? Straight away, at the very beginning of tick 1, during or after executing behaviour() in tick 1? Likewise, if you respond to offer in processInput, when is acceptTrade func

[2012-06-21 20:40] piotroslaw commented on #117
I may not be in early tomorrow, so I will outline the problem here in case you discuss this without me:

Chain of events before the change:
1. behaviour() (in last tick of year N)
2. Monitor
3. Set new targets
4. Yearly function
5. behaviour() (in first tick of year N+1)

Chain of events now:
1. behaviour() (in last tick of year N)
2. Yearly function
3. behaviour() (in first tick of year N+1)
4. M

[2012-06-21 22:41] farhanrahman commented on #119
Thats a very good question...im outside now hold on to that..ill get back to you when I get home..

[2012-06-21 22:53] piotroslaw commented on #119
No worries, I'll start implementing that at uni tomorrow anyway

[2012-06-22 00:41] farhanrahman commented on #119
Okay in order to explain this I need to go through the internals of TradeProtocol. Apologies if I am repeating stuff here and if it gets too much into the TradeProtocol, but its the only way to answer the specific questions. Here goes:

So lets say there are two agents Pitt and Yiannis. In the example below Pitt = responder and Yiannis=initiator in the FSMProtocol. Pitt=broadcaster

1) Pitt decide

[2012-06-22 00:48] farhanrahman commented on #45
Okay currently we can load in data from UI and simulation data is also stored onto the database as simulation progresses. So the interface between UI and simulation has been bridged more or less. Only thing that is something that we are looking into is how we can have a run button to run a particular simulation

[2012-06-22 00:48] #45 closed, assigned to webbo89

[2012-06-22 12:27] gubby opened #120 "Class kyoto/services/Economy#updateEconomyState uses a new Random in each invocation"
A new Random instance is seeded based on the System.nanoTime which means the sequence will be predictable.

[2012-06-22 13:58] piotroslaw commented on #117
solved, as it is now, we have two-tick period at the beginning of each year, where you behaviour() isn't triggered. yearly function will happen before the second tick in the first year of simulation, and before the third tick (the first that triggers your behaviour() in all other years). Also, monitoring and setting targets is now done before yearly function.

So, the chain of event is as it shoul

[2012-06-22 13:58] #117 closed, assigned to Sergeus

[2012-06-22 14:01] piotroslaw commented on #120
This seems like the last thing we should be worrying about right now to be honest.

If I misunderstood and this is really a game-breaking problem please reopen this, but closing for now

[2012-06-22 14:01] #120 closed, assigned to nobody

[2012-06-22 14:19] tumblerer opened #121 "NullPointerException: For NonAnnexOne Sims"
Running a sim with only nonAnnexOne countries causes a null pointer exception upon checking the monitor.

[2012-06-22 14:23] georgePil commented on #121
Should be fixed now

[2012-06-22 14:24] georgePil commented on #121
setKyotoMemberLevel(KyotoMember.NONANNEXONE) moved in constructor

[2012-06-22 14:26] jjonnnyy commented on #121
Yup, fixed in commit: 4dfdd65c7be008617abdcd33247fedd143049f2f.

[2012-06-22 14:26] #121 closed, assigned to jjonnnyy

[2012-06-22 14:57] gubby commented on #120
Its a broken feature and a 2 second fix. Its your project, I'm not
re-opening anything! You're welcome anyway.

On 22 June 2012 15:01, Piotr Dittrich <
reply@reply.github.com

[2012-06-22 15:23] piotroslaw commented on #89
closing this, will create new issue when we actually encounter these problems

[2012-06-22 15:23] #89 closed, assigned to n1kunj

[2012-06-22 15:24] piotroslaw commented on #68
seems resolved, closing

[2012-06-22 15:24] #68 closed, assigned to nobody

[2012-06-22 15:24] #94 closed, assigned to jjonnnyy

[2012-06-22 15:25] #73 closed, assigned to nobody

[2012-06-22 16:51] piotroslaw opened #122 "TradeProtocol is unpredictable"
A test case:

Agent A sends offers every tick.
Agent B agrees to all offers it receives.

What happened:

B received first two offers (from ticks 3 and 4) in tick 5, and offer from tick 5 in tick 6. In the end, the trade proposed in tick 3 was finalised in 9 (as in, that's when agents got the confirmation message).

Seems that the timing of offers is completely random.

This might not be game-brea

[2012-06-22 17:03] tumblerer opened #123 "Carbon Absorption added to Sanctioning"
Carbon absorption needs to be added to the calculation of sanctioning.

This is because the formula is actually

[code]

[2012-06-22 17:11] tumblerer opened #124 "Carbon Absorption added to carbon Targeting"
Carbon absorption needs to be included in the calculations of carbon targets.

The actual net carbon Output of a country is

[code]

This is because carbon absorption is a permanent change.

[2012-06-22 17:16] #123 closed, assigned to jjonnnyy

[2012-06-22 17:16] #124 closed, assigned to Sergeus

[2012-06-22 17:20] farhanrahman commented on #122
yeah...i am not too sure how the messaging of the Presage framework works. I'll email Sam to find whats going on here.

[2012-06-22 18:55] farhanrahman opened #125 "Carbon reduction handler runtime exception"
The handler throws runtime exception. Is there any way it can be replaced with an Exception because it doesn't make sense to throw a Runtime exception there..

[2012-06-22 23:51] farhanrahman opened #126 "NonAnnexOne countries respond to all trade broadcast messages"
I ran simulations and i realised that non annex1 countries respond to all broadcast messages whether it is CDM or Trade BUY or Trade SELL. So I got results such as BGD buying from Ukraine. The bug is the following:

[code]

In the above function NonAnnexOne exactly copies what was given in the wiki. You have to insert your country logic where I have given a TODO in the above function.

Let me know

[2012-06-23 00:43] sc1109 commented on #126
This is a pretty hilarious oversight. @n1kunj brought it to my attention lol.

[2012-06-23 10:00] #119 closed, assigned to farhanrahman

[2012-06-23 10:10] farhanrahman opened #127 "Canada agent has copied code from non annex one"
I was going through the code of canada agent and i can see that code has been copied from NonAnnexOne.

The function that was copied from NonAnnexOne is the following:

[code]

The reason why I am saying this is because you are not supposed to have the same implementation as another country. The whole point of this was so that agents can have their own unique behaviour. @Raamaa please fix this.

[2012-06-23 11:13] farhanrahman opened #128 "SOME ONE SORT OUT THE F*&^IN EMAIL"
OKAY THIS IS FAR INTO THE DEVELOPMENT BUT I AM HAVING DIFFICULTIES TRYING TO SEND A SIMPLE BUT URGENT EMAIL AND ITS NOT WORKIN!!!!

[2012-06-23 11:35] piotroslaw commented on #128
I think the "duplicate" tag does not correctly convey the type of this bug. Please change this.

░░░░░▄▄▄▄▀▀▀▀▀▀▀▀▄▄▄▄▄▄░░░░░░░
░░░░░█░░░░▒▒▒▒▒▒▒▒▒▒▒▒░░▀▀▄░░░░
░░░░█░░░▒▒▒▒▒▒░░░░░░░░▒▒▒░░█░░░
░░░█░░░░░░▄██▀▄▄░░░░░▄▄▄░░░░█░░
░▄▀▒▄▄▄▒░█▀▀▀▀▄▄█░░░██▄▄█░░░░█░
█░▒█▒▄░▀▄▄▄▀░░░░░░░░█░░░▒▒▒▒▒░█
█░▒█░█▀▄▄░░░░░█▀░░░░▀▄░░▄▀▀▀▄▒█
░█░▀▄░█▄░█▀▄▄░▀░▀▀░▄▄▀░░░░█░░█░
░░█░░░▀▄▀█▄▄░█▀▀▀▄▄▄▄▀▀█▀██░█░░
░░░█░░░░██░░▀█▄▄

[2012-06-23 12:23] #128 closed, assigned to nobody

[2012-06-23 12:45] Raamaa commented on #127
I was merely using it as a reference and have not actually used it to implement anything in my code. Sorry about it. HAve removed it.

[2012-06-23 12:45] #127 closed, assigned to Raamaa

[2012-06-23 12:47] #125 closed, assigned to nobody

[2012-06-23 12:55] #126 closed, assigned to georgePil

[2012-06-23 15:37] #122 closed, assigned to nobody

[2012-06-23 17:17] webbo89 opened #129 "Kyoto UI breaking Presage CLI"
Can anyone let me know a simID / name that broke the presage CLI list cmd ?

IT's most likely a type definition that we've missed or got wrong!

I suspect it is field: finishTime, we're saving as a longINT (mongo INT 64) but the presage CLI saves them as Int31 ...

[2012-06-23 17:37] webbo89 commented on #129
Which sim causes this: Caused by: java.lang.ClassCastException: java.lang.Double cannot be cast to java.lang.Long

[2012-06-23 17:46] n1kunj opened #130 "Added exception to CarbonAbsorptionHandler(), some people's code needs fixing"
As title. It now throws an exception if you don't have enough arable land, which needs to be caught and handled.

The exception used to be in there, but somebody thought it would be a good idea to remove it.

[2012-06-23 18:29] farhanrahman commented on #129
72

[2012-06-23 21:29] webbo89 commented on #129
Did you try resaving? Ideally users wopuldnt change the I'd of the sim... So delete sim 72 to save the trouble!
------Original Message------
From: Farhan Rahman
To: Webbo
Subject: Re: [kyoto] Kyoto UI breaking Presage CLI (#129)
Sent: 23 Jun 2012 19:29

72

---

Reply to this email directly or view it on GitHub:
https://github.com/farhanrahman/kyoto/issues/129#issuecomment-6527027

---

[2012-06-23 21:44] n1kunj opened #131 "Simulations on server GDPs are 6 orders of magnitude incorrect"
On the server, the GDPs for the mini simulation is in millions of dollars. We need them in dollars.

I'm off to stab myself in the face, because it took me three hours to figure this out.

[2012-06-23 21:55] tumblerer commented on #131
This is probably a case of the csv data being incorrect. I'll look into it tomorrow, but I thought I corrected it.

[2012-06-23 22:19] piotroslaw commented on #130
I fixed my code.

CarbonReductionHandler functions should get a similar treatment, but after trying to change it I have noticed that it breaks Nik's code, so I left it as it is. Just something to keep in mind, as this can potentially break an agent's behaviour. I'm safe here, but could other behaviour writers make sure they don't use it in an unsafe way? (i.e., always check if the investment is po

[2012-06-23 22:23] n1kunj commented on #130
I didn't change CarbonReductionHandler mostly because I couldn't be bothered, but also because it's a lot easier to sanity check that you're trying to reduce more carbon than you have than it is to check if the change in arable land caused when investing a given amount of carbon is more than you have.

[2012-06-23 22:29] piotroslaw commented on #130
Agreed, we shouldn't change anything at this point if it works, just saying that if someone gets some weird behaviour and doesn't know why, this may be an issue

[2012-06-24 10:00] piotroslaw opened #132 "Behaviours completion"
Could all of the behaviour writers comment on their porgress here?

We need to do the simulations and balancing today at uni - remember that people need to write the report on the results and submit it tomorrow, so let's make their life easier and have it done asap.

Annex One Sustain:
- Individual behaviour (investments) - done, tested (except long periods of time)
- Balancing - done
- Trading -

[2012-06-24 10:01] piotroslaw commented on #132
@whitebloodcell @Raamaa @n1kunj @georgePil

[2012-06-24 10:15] n1kunj commented on #132
Individual behaviour (investments) - working perfectly. Will pretty much always hit our required target by the optimal means in local synthetic tests and on the server.

Balancing - no idea.

Trading - should work in theory. Tested locally, when it sees a good price it will buy.  However the one simulation on the server that could confirm it works in a group environment had GDPs set 10^-6 lower th

[2012-06-24 10:33] tumblerer commented on #131
Fixed it.  Hopefully the website will be repulled from the git in the near future

[2012-06-24 10:34] ChrisSSocha commented on #130
Morning,

I feel like this is being blamed on me, as I went on a exception handling rampage. You can see the `CarbonAbsorptionHandler` file before my [commit](https://github.com/farhanrahman/kyoto/commit/ab24d8bd7afeb705905a6ba0d4179a54c00a26a9), [here](https://github.com/farhanrahman/kyoto/blob/dae95c2d5b01ddcca96ceb0af1ac0c3b8b8c0074/kyoto/src/main/java/uk/ac/ic/kyoto/countries/CarbonAbsorptionH

[2012-06-24 11:11] piotroslaw commented on #132
ok, should we meet in college at about 13:15 to start simulations?

[2012-06-24 11:15] tmclayson commented on #132
Already in college but unlikely to be ready by 13:15 to start simulations. Have not yet implemented the join/leave Kyoto logic, but should not take long. s testing to see if the variables controlling my behaviour are achievable, and adjusting if not. i.e. The reduction targets I set for my my agent were overly optimistic, so all money would be spent on that before any investment in industry etc.

[2012-06-24 11:34] piotroslaw commented on #132
ok, I will be in at 13:30, you (Tom) mainly interact with George as far as I know, so arrange your tests with him

[2012-06-24 11:58] georgePil commented on #132
Non Annex One:

Individual behaviour: done , tested, works perfectly

CDM: done , tested with TradeAgent, works perfectly .. waiting to test with other countries when done

Who is implementing CDM in their behaviour except @piotroslaw  that I know is not implementing? I know @n1kunj  does/will do. @whitebloodcell ? @Raamaa  ?

[2012-06-24 12:44] webbo89 commented on #129
OK presage CLI now working again.

Changing sim ID is not allowed!

[2012-06-24 12:44] #129 closed, assigned to nobody

[2012-06-24 12:55] webbo89 commented on #131
Does this require any action on the UI part? defaultdata appears to match Khadivis.

Also the git server is pulled every half hour.

[2012-06-24 13:03] tumblerer opened #133 "Cyprus keeps failing at investing in arable land"
Cyprus repeatedly tries to invest in absorption when it doesn't have enough land

[2012-06-24 13:04] tumblerer commented on #131
No, its just mini simulation hadnt been updated, but it done now.

[2012-06-24 13:04] #131 closed, assigned to nobody

[2012-06-24 13:46] georgePil commented on #133
I will be there in half an hour and fix this

[2012-06-24 13:47] tmclayson commented on #132
Yes I am implementing CDM

[2012-06-24 13:52] ncocacola commented on #133
Ask Pilikos, maybe he can talk some sense into his fellow Cypriot
countrymen.

On 24 June 2012 14:03, Chris <
reply@reply.github.com

[2012-06-24 15:21] #133 closed, assigned to georgePil

[2012-06-24 18:09] #132 closed, assigned to nobody

[2012-06-24 23:43] #130 closed, assigned to nobody